<!-- wvu-sidebar -->
{%- liquid
  assign inumber = component.number | default: 1
  assign componentSidebar = "wvu-sidebar-" | append: inumber
  assign componentSidebarPostscript = "wvu-sidebar-" | append: inumber | append: "__postscript"
-%}

<aside class="wvu-sidebar col-md-3 mt-4 mt-md-0" aria-label="{{ componentSidebar }}">
  {% if edit_mode or page.content[componentSidebar] != blank %}
    <div class="mb-3">
      {% editable_region name: componentSidebar %}
    </div>
  {% endif %}
  {% if site.data.componentIfBackpageRemoveNav != '1' %}
    <div class="mb-3">
      {% ancestor_menu start_depth: 2, max_depth: 3, ul_class: "nav flex-column border-left border-muted pl-1 mb-3", li_class: "nav-item", link_class: "nav-link text-decoration-none", active_class: "active", open_class: "nav-secondary--open" %}
    </div>
  {% endif %}
  {% if edit_mode or page.content[componentSidebarPostscript] != blank %}
    <div class="mb-3">
      {% editable_region name: componentSidebarPostscript %}
    </div>
  {% endif %}
</aside>
