<!-- Component: v2/wvu-breadcrumbs -->
{% define_component component %}
  {
    "baseName": "breadcrumbs",
    "defaultComponentClasses": "{{ site.data.classes_wvu_breadcrumbs }} text-white",
    "defaultHeaderClasses": null,
    "mainTagClasses": null
  }
{% enddefine_component %}

{% assign breadcrumbLinkClasses = page.content[component.region_names.classes] | default: site.data.classes_wvu_breadcrumbs | default: component.defaultComponentClasses %}
{% assign componentClassesBreadcrumbs = "wvu-slash-list pl-0" | append: " " | append: breadcrumbLinkClasses %}

<section class="wvu-breadcrumbs py-2 w-100 position-absolute wvu-z-index-breadcrumbs {{ breadcrumbLinkClasses }}" aria-label="{{ component.baseName }}-1">
  <div class="container position-relative wvu-z-index-content small">
    {% breadcrumbs ul_class: componentClassesBreadcrumbs, link_class: breadcrumbLinkClasses %}
  </div>
</section>

{% render "includes/wvu-component-footer" component: component %}
