{% define_component component %}
  {
    "baseName": "backpage",
    "needsARIALabel": true,
    "defaultComponentClasses": "wvu-backpage-main py-5 ",
    "defaultItemClasses": "mb-3 mb-md-0",
    "defaultHeaderClasses": "mb-4",
    "defaultItemHeaderClasses": "px-2 py-1 wvu-shout h6 text-white mb-0",
    "defaultItemBodyClasses": null,
    "defaultItemButtonClasses": "iowan-old-style",
    "mainTagClasses": null
  }
{% enddefine_component %}

{% assign sidebarNumber = component.number %}

{% capture component_content %}
  <div class="container wvu-z-index-content">
    <div class="row">
      {% if page.data.ifBackpageRemoveSidebar != '1' %}
        {% if component.removeSidebar != '1' and component.align == 'right' %}
          {% render "components/v2/wvu-sidebar" component: component %}
        {% endif %}
      {% endif %}
      <div class="col-md-8 mr-md-auto">
        {% if edit_mode %}<span class="d-inline-block badge badge-primary mb-1">Main Content</span>{% endif %}
        {% editable_region_block name: component.region_names.main, scope: component.scope %}
          <p class="lead mb-3 mt-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
        {% endeditable_region_block %}
      </div>
      {% if page.data.ifBackpageRemoveSidebar != '1' %}
        {% if component.removeSidebar != '1' and component.align != 'right' %}
          {% render "components/v2/wvu-sidebar" component: component, number: sidebarNumber %}
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endcapture %}

{% render "utilities/wvu-component-tag" component: component, content: component_content %}
{% render "includes/wvu-component-footer" component: component %}
