<r:if expr="{{ contains(componentDisplayContext, 'as_full_width_block') or contains(componentDisplayContext, 'wvu-backpage') }}">
  <r:if_equal x="{$componentLimit}" y="1">
    <r:set_var name="columnClasses">
      col-sm-6 col-md-4
    </r:set_var>
  </r:if_equal>
  <r:if_equal x="{$componentLimit}" y="2">
    <r:set_var name="columnClasses">
      col-sm-6 col-md-4
    </r:set_var>
  </r:_equal>
  <r:if_equal x="{$componentLimit}" y="3">
    <r:set_var name="columnClasses">
      col-sm-6 col-md
    </r:set_var>
  </r:if_equal>
  <r:if_equal x="{$componentLimit}" y="4">
    <r:set_var name="columnClasses">
      col-sm-6 col-md
    </r:set_var>
  </r:if_equal>
  <r:if_equal x="{$componentLimit}" y="5">
    <r:set_var name="columnClasses">
      col-sm-6 col-md-4 col-lg-3 col-xl
    </r:set_var>
  </r:if_equal>
  <r:if_equal x="{$componentLimit}" y="6">
    <r:set_var name="columnClasses">
      col-sm-6 col-md-4
    </r:set_var>
  </r:if_equal>
  <r:if_equal x="{$componentLimit}" y="9">
    <r:set_var name="columnClasses">
      col-sm-6 col-md-4
    </r:set_var>
  </r:if_equal>
</r:if>

<r:content_for name="{$defaultRowClasses}">justify-content-center</r:content_for>
<r:content_for name="{$defaultItemClasses}"><r:var name="columnClasses" /> mb-3 mb-md-0</r:content_for>

<r:set_var name="rowClassesChecker">
  <r:page:unless_has_content_for region="{$rowClasses}"><r:yield name="{$defaultRowClasses}" /> </r:page:unless_has_content_for><r:page:content name="{$rowClasses}" />
</r:set_var>

<r:set_var name="itemClassesChecker">
  <r:page:unless_has_content_for region="{$itemClasses}"><r:yield name="{$defaultItemClasses}" /> </r:page:unless_has_content_for><r:page:content name="{$itemClasses}" />
</r:set_var>

<div class="row <r:var name="rowClassesChecker" />">
  <r:comment><!-- Grab all of the items in the loop. --></r:comment>
  <r:loop:each times="{$componentLimit}">
    <r:set_var name="bgurl">
      <r:var name="bgPrefix" />-panel-<r:index />-background
    </r:set_var>
    <r:set_var name="componentPanelPhoto">wvu-featurettes_panel_<r:var name="componentInstance" />-<r:item />__photo</r:set_var>
    <r:set_var name="componentPanelHeader">wvu-featurettes_panel_<r:var name="componentInstance" />-<r:item />__header</r:set_var>
    <r:set_var name="componentPanelMain">wvu-featurettes_panel_<r:var name="componentInstance" />-<r:item />__main</r:set_var>
    <div class="<r:var name="itemClassesChecker" />" <r:partial name="utilities/wvu-bg-styler" theme="University Relations: WVU Design System" />>
      <div class="card shadow">
        <r:page:if_has_content_for region="{$componentPanelPhoto}" always_show_in_edit_mode="true">
          <r:editable_region name="{$componentPanelPhoto}" scope="{$componentScope}">
            <img class="card-img-top" src="http://placehold.it/960x640" alt="Placeholder">
          </r:editable_region>
        </r:page:if_has_content_for>
        <div class="card-body bg-white">
          <r:page:if_has_content_for region="{$componentPanelHeader}" always_show_in_edit_mode="true">
            <r:editable_region name="{$componentPanelHeader}" scope="{$componentScope}">
              <h3 class="card-title iowan-old-style-italic mb-1">Panel Header</h3>
            </r:editable_region>
          </r:page:if_has_content_for>
          <r:page:if_has_content_for region="{$componentPanelMain}" always_show_in_edit_mode="true">
            <r:editable_region name="{$componentPanelMain}" scope="{$componentScope}">
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <a href="#" class="btn btn-primary">Read More</a>
            </r:editable_region>
          </r:page:if_has_content_for>
        </div>
      </div>
    </div>
  </r:loop:each>
</div>
