<r:comment><!-- We want to store the values of the variables in the original base component. That way we can reassign the values in case we call a component within a component (that might change the values). --></r:comment>
<r:set_var name="componentBaseComponentNameTemp" value="{$baseComponentName}" />
<r:set_var name="componentInstanceTemp" value="{$componentInstance}" />
<r:set_var name="componentScopeTemp" value="{$componentScope}" />
<r:set_var name="componentNameTemp" value="{$componentName}" />
<r:set_var name="bgurlTemp" value="{$bgurl}" />
<r:set_var name="componentClassesTemp" value="{$componentClasses}" />
<r:set_var name="defaultComponentClassesTemp" value="{$defaultComponentClasses}" />
<r:set_var name="defaultHeaderClassesTemp" value="{$defaultHeaderClasses}" />
<r:set_var name="componentIsMainTemp" value="{$componentIsMain}" />
<r:set_var name="componentIsRandomTemp" value="{$componentIsRandom}" />
<r:set_var name="componentHasSubnavTemp" value="{$componentHasSubnav}" />
<r:set_var name="componentFeaturettesStyleTemp" value="{$componentFeaturettesStyle}" />
<r:set_var name="componentFeaturettesIDTemp" value="{$componentFeaturettesID}" />
<r:set_var name="componentAlignTemp" value="{$componentAlign}" />
<r:set_var name="componentDisplayContextTemp" value="{$componentDisplayContext}" />
<r:set_var name="componentLimitTemp" value="{$componentLimit}" />
<r:set_var name="componentLoopByTemp" value="{$componentLoopBy}" />
<r:set_var name="componentIfBackpageRemoveNavTemp" value="{$componentIfBackpageRemoveNav}" />
<r:set_var name="componentIfBackpageRemoveSidebarTemp" value="{$componentIfBackpageRemoveSidebar}" />
<r:set_var name="componentGalleryLoopByTemp" value="{$componentGalleryLoopBy}" />
<r:set_var name="componentShowHiddenTemp" value="{$componentShowHidden}" />
<r:set_var name="componentPostscriptTemp" value="{$componentPostscript}" />
<r:set_var name="componentPostscriptTemp" value="{$componentPostscript}" />
<r:set_var name="componentClassesTemp" value="{$componentClasses}" />
<r:set_var name="defaultComponentClassesTemp" value="{$defaultComponentClasses}" />
<r:set_var name="componentIsEditModeOnlyTemp" value="{$componentIsEditModeOnly}" />
<r:set_var name="rowClassesTemp" value="{$rowClasses}" />
<r:set_var name="itemClassesTemp" value="{$itemClasses}" />
<r:set_var name="itemHeaderClassesTemp" value="{$itemHeaderClasses}" />
<r:set_var name="itemBodyClassesTemp" value="{$itemBodyClasses}" />
<r:set_var name="itemButtonClassesTemp" value="{$itemButtonClasses}" />
<r:set_var name="defaultRowClasses" value="{$defaultRowClassesTemp}" />
<r:set_var name="defaultItemClassesTemp" value="{$defaultItemClasses}" />
<r:set_var name="defaultItemHeaderClassesTemp" value="{$defaultItemHeaderClasses}" />
<r:set_var name="defaultItemBodyClassesTemp" value="{$defaultItemBodyClasses}" />
<r:set_var name="defaultItemButtonClassesTemp" value="{$defaultItemButtonClasses}" />
<r:set_var name="componentReadMoreButtonTextTemp" value="{$componentReadMoreButtonText}" />
