<!-- Featurette: custom -->
{%- liquid
  if component.full_width_or_backpage?
    case component.limit
      when 1
        assign columnClasses = 'col'
      when 2 or 3 or 4
        assign columnClasses = 'col-sm-6 col-md'
      when 5
        assign columnClasses = 'col-sm-6 col-md-4 col-lg-3 col-xl'
      when 6 or 9
        assign columnClasses = 'col-sm-6 col-md-4'
      else
        assign columnClasses = 'col-sm-6 col-md-3'
    endcase
  endif

  if page.content[component.region_names.rowClasses] != blank
    assign rowClasses = page.content[component.region_names.rowClasses]
  else
    assign rowClasses = component.defaultRowClasses
  endif

  if page.content[component.region_names.itemClasses] != blank
    assign itemClasses = page.content[component.region_names.itemClasses]
  else
    assign defaultItemClasses = component.defaultItemClasses | append: ' ' | append: columnClasses
    assign itemClasses = defaultItemClasses
  endif
-%}

<div class="row {{ rowClasses }}">
  {% for i in (1..component.limit) %}
    {%- capture bgLabel %}{{ component.featurettesBgPrefix }}-panel-{{ forloop.index }}-background{% endcapture %}
    {%- capture componentPanel %}wvu-featurettes_panel_{{ component.number }}-{{ i }}__photo{% endcapture %}

    {%- assign bgStyler = bgLabel | background_styler %}

    <div class="{{columnClasses}} {{ itemClasses }}" {{ bgStyler }}>
      {% editable_region_block name: componentPanel, scope: component.scope %}
        <img class="card-img-top mb-1" src="https://via.placeholder.com/960x640" alt="Placeholder">
        <h3 class="mb-1">Featurette Item</h3>
        <p>Featurette content.</p>
      {% endeditable_region_block %}
    </div>
  {% endfor %}
</div>
