<!-- Featurette: default -->
{%- liquid
  if component.full_width_or_backpage?
    case component.limit
      when 1
        assign columnClasses = 'col' 
      when 2 or 3 or 4
        assign columnClasses = 'col-sm-6 col-md'
      when 5
        assign columnClasses = 'col-sm-6 col-md-4 col-lg-3 col-xl'
      when 6 or 9
        assign columnClasses = 'col-sm-6 col-md-4'
      else
        assign columnClasses = 'col-sm-6 col-md-3'
    endcase
  endif

  assign itemClasses = page.content[component.region_names.itemClasses] | default: component.defaultItemClasses
  assign rowClasses = page.content[component.region_names.rowClasses] | default: 'justify-content-center'
  assign itemHeaderClasses = page.content[component.region_names.itemHeaderClasses] | default: 'h3 iowan-old-style-italic mb-1'
  assign itemBodyClasses = page.content[component.region_names.itemBodyClasses] | default: ''
-%}

<div class="row {{ rowClasses }}">
  {% comment %}<!-- Grab all of the items in the loop. -->{% endcomment %}
  {% for item in (1..component.limit) %}
  <r:loop:each times="{$componentLimit}">
    {% capture componentPanel %}featurettes_{{ component.number }}_panel_{{ item }}{% endcapture %}
    {% capture bgLabel %}{{ component.featurettesBgPrefix }}-panel-{{ forloop.index }}-background{% endcapture %}
    {% assign featureSlots = page.slots | where: 'where_to_display', componentPanel %}
    <div class="{{ itemClasses }}" {{ bgStyler }}>
      {% comment %} This is where component inception happens. {% endcomment %}
      {% render "utilities/wvu-slots" slots: featureSlots %}
    </div>
  {% endfor %}
</div>
