{% comment %}
  Expected Variables:
    regionNames - Hash containing names of editable regions used in this partial
    component - Contains the details about compoent which called this partial
{% endcomment %}

{% if edit_mode or page.content[regionNames.phone] != blank %}
  <span class="d-block position-relative">
    {% if edit_mode %}<span class="d-inline-block badge badge-primary mb-1">Phone</span>{% endif %}
    <span class="fas fa-phone position-absolute"></span>
    <a class="d-block pl-3{% if edit_mode %} d-none{% endif %}" href="tel:{{ page.content[regionNames.phone] }}">{{ page.content[regionNames.phone] }}</a>
    {% if edit_mode %}
      {% editable_region name: regionNames.phone, scope: component.scope, type: "simple" %}
    {% endif %}
  </span>
{% endif %}
{% if edit_mode or page.content[regionNames.email] != blank %}
  <span class="d-block position-relative">
    {% if edit_mode %}<span class="d-inline-block badge badge-primary mb-1">Email</span>{% endif %}
    <span class="far fa-envelope position-absolute"></span>
    <a class="d-block pl-3" href="mailto:{{ page.content[regionNames.email] }}">{{ page.content[regionNames.email] }}</a>
    {% if edit_mode %}
      {% editable_region name: regionNames.email, scope: component.scope, type: "simple" %}
    {% endif %}
  </span>
{% endif %}
{% if edit_mode or page.content[regionNames.office] != blank %}
  <span class="d-block position-relative">
    {% if edit_mode %}<span class="d-inline-block badge badge-primary mb-1">Office</span>{% endif %}
    <span class="far fa-building position-absolute"></span>
      {% if page.content[regionNames.officeURL] != blank %}
        <a class="d-block pl-3" href="{{ page.content[regionNames.officeURL] }}">{{ page.content[regionNames.office] }}</a>
      {% else %}
        <span class="d-block pl-3">{{ page.content[regionNames.office] }}</span>
      {% endif %}
    {% if edit_mode %}
      {% editable_region name: regionNames.office, scope: component.scope, type: "simple" %}
    {% endif %}
    {% if edit_mode or page.content[regionNames.officeURL] != blank %}
      {% if edit_mode %}
        <span class="d-inline-block badge badge-primary mb-1">Office URL</span>
        {% editable_region name: regionNames.officeURL, scope: component.scope, type: "simple" %}
      {% endif %}
    {% endif %}
  </span>
{% endif %}
{% if edit_mode or page.content[regionNames.website] != blank %}
  <span class="d-block position-relative">
    {% if edit_mode %}<span class="d-inline-block badge badge-primary mb-1">Website</span>{% endif %}
    <span class="fas fa-link position-absolute"></span>
    <a class="d-block pl-3" href="{{ page.content[regionNames.website] }}">Website<span class="sr-only">: {{ page.name }}</span></a>
    {% if edit_mode %}
      {% editable_region name: regionNames.website, scope: component.scope, type: "simple" %}
    {% endif %}
  </span>
{% endif %}
{% if edit_mode or page.content[regionNames.download] != blank %}
  <span class="d-block position-relative">
    {% if edit_mode %}<span class="d-inline-block badge badge-primary mb-1">Download</span>{% endif %}
    <span class="far fa-file-pdf position-absolute"></span> <span class="d-block pl-3"><{% editable_region name: regionNames.download, scope: component.scope %}</span>
  </span>
{% endif %}
