<r:comment><!-- Pull in content from pages labeled with the slug of the page you want it to show on and the component name --></r:comment>
<r:set_var name="itemLabels">
  <r:page:slug />-<r:var name="componentName" />
</r:set_var>

<r:set_var name="columnClasses">
  col-sm-6 col-md-3
</r:set_var>

<r:if v1="{$componentLimit}" v2="1" op="=">
  <r:set_var name="columnClasses">
    col-sm-6
  </r:set_var>
</r:if>
<r:if v1="{$componentLimit}" v2="2" op="=">
  <r:set_var name="columnClasses">
    col-sm-6 col-md-3
  </r:set_var>
</r:if>
<r:if v1="{$componentLimit}" v2="3" op="=">
  <r:set_var name="columnClasses">
    col-sm-6 col-md-4
  </r:set_var>
</r:if>
<r:if v1="{$componentLimit}" v2="4" op="=">
  <r:set_var name="columnClasses">
    col-sm-6 col-md
  </r:set_var>
</r:if>
<r:if v1="{$componentLimit}" v2="5" op="=">
  <r:set_var name="columnClasses">
    col-sm-6 col-md-4 col-lg-3
  </r:set_var>
</r:if>
<r:if v1="{$componentLimit}" v2="6" op="=">
  <r:set_var name="columnClasses">
    col-sm-6 col-md-4
  </r:set_var>
</r:if>
<r:if v1="{$componentLimit}" v2="9" op="=">
  <r:set_var name="columnClasses">
    col-sm-6 col-md-4
  </r:set_var>
</r:if>
<r:if v1="{$componentDisplayContext}" v2="as_full_width_block" op="!=">
  <r:set_var name="columnClasses">
    col-sm-12 col-md-12
  </r:set_var>
</r:if>

<r:content_for name="{$defaultItemClasses}">mb-3 mb-md-0</r:content_for>
<r:content_for name="{$defaultItemHeaderClasses}">h3 iowan-old-style-italic mb-1</r:content_for>
<r:content_for name="{$defaultItemBodyClasses}"></r:content_for>
<r:content_for name="{$defaultItemButtonClasses}">btn-primary btn-sm</r:content_for>

<r:set_var name="itemClassesChecker">
  <r:page:unless_has_content_for region="{$itemClasses}"><r:yield name="{$defaultItemClasses}" /> </r:page:unless_has_content_for><r:page:content name="{$itemClasses}" />
</r:set_var>

<r:set_var name="itemHeaderClassesChecker">
  <r:page:unless_has_content_for region="{$itemHeaderClasses}"><r:yield name="{$defaultItemHeaderClasses}" /> </r:page:unless_has_content_for><r:page:content name="{$itemHeaderClasses}" />
</r:set_var>

<r:set_var name="itemBodyClassesChecker">
  <r:page:unless_has_content_for region="{$itemBodyClasses}"><r:yield name="{$defaultItemBodyClasses}" /> </r:page:unless_has_content_for><r:page:content name="{$itemBodyClasses}" />
</r:set_var>

<r:set_var name="itemButtonClassesChecker">
  <r:page:unless_has_content_for region="{$itemButtonClasses}"><r:yield name="{$defaultItemButtonClasses}" /> </r:page:unless_has_content_for><r:page:content name="{$itemButtonClasses}" />
</r:set_var>

<r:set_var name="itemReadMoreButtonTextChecker">
  <r:page:unless_has_content_for region="{$componentReadMoreButtonText}">Read More</r:page:unless_has_content_for><r:page:content name="{$componentReadMoreButtonText}" />
</r:set_var>

<r:get_page id="{$componentFeaturettesID}">
  <r:if expr="{{ contains(componentDisplayContext, 'as_full_width_block') or contains(componentDisplayContext, 'wvu-backpage') }}"><div class="row d-flex justify-content-center"></r:if>
    <r:comment><!-- You can set $loopBy to: "name", "slug", "created_at", "updated_at", "sort_order", "template_name", "published_at", "title", "alternate_name", "meta_description", "content_updated_at";
      and $loopOrder to: "asc" or "desc";
      and $loopLabelsMatch to: "any", "all", or "none". --></r:comment>
    <r:comment><!-- Grab all of the items in the loop. --></r:comment>
    <r:blog:articles limit="{$limit}" page="{$page}" tags="{$itemLabels}" tags_op="all" year="{$year}" month="{$month}" day="{$day}">
      <r:set_var name="contentIndex">
        <r:index />
      </r:set_var>
      <r:set_var name="article_count" value="{count}" />
      <r:if_no_articles>
        <p>No blog posts found. Try again later, perhaps?</p>
      </r:if_no_articles>
      <r:if_articles>
        <r:each>
          <r:set_var name="bgurl">
            <r:var name="bgPrefix" />-panel-<r:index />-background
          </r:set_var>
          <div class="<r:if expr="{{ contains(componentDisplayContext, 'as_full_width_block') or contains(componentDisplayContext, 'wvu-backpage') }}"><r:var name="columnClasses" /> </r:if><r:var name="itemClassesChecker" />" <r:partial name="utilities/wvu-bg-styler" />>
            <div class="mt-3<r:if expr="{{ contains(componentDisplayContext, 'featurettes') or contains(componentDisplayContext, 'sidebar') }}"> row</r:if>">
              <r:if expr="{{ NOT(BLANK(thumbnail_url)) }}">
                <div class="mb-1<r:if expr="{{ contains(componentDisplayContext, 'featurettes') or contains(componentDisplayContext, 'sidebar') }}"> col-md-4</r:if>">
                  <a href="<r:if expr="{{ NOT(BLANK(alternate_url)) }}"><r:page:data name="alternate_url" /></r:if><r:if expr="{{ BLANK(alternate_url) }}"><r:page:url /></r:if>"><img class="shadow" src="<r:page:data name="thumbnail_url" />/381x255.jpg" srcset="<r:page:data name="thumbnail_url" />/960x640.jpg, <r:page:data name="thumbnail_url" />/586x286.jpg, <r:page:data name="thumbnail_url" />/381x255.jpg, <r:page:data name="thumbnail_url" />/286x191.jpg, <r:page:data name="thumbnail_url" />/279x186.jpg, <r:page:data name="thumbnail_url" />/217x145.jpg" sizes="960px, (min-width: 768px) 586px" alt="<r:page:data name="thumbnail_alt" />"></a>
                </div>
              </r:if>
              <r:if expr="{{ contains(componentDisplayContext, 'featurettes') or contains(componentDisplayContext, 'sidebar') }}"><div class="col-md-8"></r:if>
                <<r:page:if_has_content_for region="{$componentHeader}">h3</r:page:if_has_content_for><r:page:unless_has_content_for region="{$componentHeader}">h2</r:page:unless_has_content_for> class="<r:var name="itemHeaderClassesChecker" />" id="<r:page:slug />-<r:page:id />"><a href="<r:if expr="{{ NOT(BLANK(alternate_url)) }}"><r:page:data name="alternate_url" /></r:if><r:if expr="{{ BLANK(alternate_url) }}"><r:article:path /></r:if>"><r:article:name /></a></<r:page:if_has_content_for region="{$componentHeader}">h3</r:page:if_has_content_for><r:page:unless_has_content_for region="{$componentHeader}">h2</r:page:unless_has_content_for>>
                <p class="<r:var name="itemBodyClassesChecker" />">
                  <r:if expr="{{ NOT(BLANK(description)) }}"><r:page:data name="description" /></r:if>
                  <r:if expr="{{ BLANK(description) }}">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</r:if>
                </p>
                <a class="btn <r:var name="itemButtonClassesChecker" />" aria-labelledby="<r:page:slug />-<r:page:id />" href="<r:if expr="{{ NOT(BLANK(alternate_url)) }}"><r:page:data name="alternate_url" /></r:if><r:if expr="{{ BLANK(alternate_url) }}"><r:article:path /></r:if>"><r:if expr="{{ NOT(BLANK(link_text)) }}"><r:page:data name="link_text" /></r:if><r:if expr="{{ BLANK(link_text) }}"><r:var name="itemReadMoreButtonTextChecker" /><span class="sr-only">: <r:article:name /></span></r:if></a>
              <r:if expr="{{ contains(componentDisplayContext, 'featurettes') or contains(componentDisplayContext, 'sidebar') }}"></div></r:if>
            </div>
          </div>
        </r:each>
      </r:if_articles>
    </r:blog:articles>
  <r:if expr="{{ contains(componentDisplayContext, 'as_full_width_block') or contains(componentDisplayContext, 'wvu-backpage') }}"></div></r:if>
</r:get_page>
