<!-- Featurette: editable_regions -->

{%- liquid
  case component.limit
    when 1
      assign columnClasses = 'col'
    when 2 or 6 or 9
      assign columnClasses = 'col-sm-6 col-md-4'
    when 3 or 4
      assign columnClasses = 'col-sm-6 col-md'
    when 5
      assign columnClasses = 'col-sm-6 col-md-4 col-lg-3 col-xl'
    else
      assign columnClasses = 'col-sm-6 col-md-3'
  endcase

  if page.content[component.region_names.rowClasses] != blank
    assign rowClasses = page.content[component.region_names.rowClasses]
  else
    assign rowClasses = component.defaultRowClasses
  endif

  if page.content[component.region_names.itemClasses] != blank
    assign itemClasses = page.content[component.region_names.itemClasses]
  else
    assign itemClasses = component.defaultItemClasses
  endif
-%}

<div class="row {{ rowClasses }}">
  {% for i in (1..component.limit) %}
    {%- capture bgLabel %}{{ component.featurettesBgPrefix }}-panel-{{ forloop.index }}-background{% endcapture %}
    {%- capture componentPanelPhoto %}wvu-featurettes_panel_{{ component.number }}-{{ i }}__photo{% endcapture %}
    {%- capture componentPanelHeader %}wvu-featurettes_panel_{{ component.number }}-{{ i }}__header{% endcapture %}
    {%- capture componentPanelMain %}wvu-featurettes_panel_{{ component.number }}-{{ i }}__main{% endcapture %}

    {%- assign bgStyler = bgLabel | background_styler %}

    <div class="{{columnClasses}} {{ itemClasses }}" {{ bgStyler }}>
      {%- if edit_mode or page.content[componentPanelPhoto] != blank %}
        <div class="mb-1">
          {% editable_region_block name: componentPanelPhoto, scope: component.scope %}
            <img src="http://placehold.it/960x640" alt="Placeholder" />
          {% endeditable_region_block %}
        </div>
      {%- endif %}
      {%- if edit_mode or page.content[componentPanelHeader] != blank %} 
        {% editable_region_block name: componentPanelHeader, scope: component.scope %}
          <h3 class="iowan-old-style-italic mb-1">Panel Header</h3>
        {% endeditable_region_block %}
      {%- endif %}
      {%- if edit_mode or page.content[componentPanelMain] != blank %}
        {% editable_region_block name: componentPanelMain scope: component.scope %}
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <a href="#" class="btn btn-sm btn-primary">Read More</a>
        {% endeditable_region_block %}
      {%- endif %}
    </div>
  {% endfor %}
</div>
