{% if site.data.disable_component_styler == blank and edit_mode %}
  <!-- Component Styler -->
  {% unless page.data_saved? %}
    {% assign instanceNumber = '1' %}
    {% if component.baseName == "breadcrumbs" %}
      {% assign component.name = "breadcrumbs-1" %}
      {% assign component.classes = "wvu-breadcrumbs-1-classes" %}
    {% endif %}
  {% endunless %}

  {% assign ariaLabelRegionName = component.name | append: '-aria-label' %}

  <a class="text-white p-1 rounded-sm d-inline-block btn btn-sm btn-wvu-neutral--black wvu-grow-shadow wvu-z-index-content position-absolute mt-n4 ml-1" data-toggle="collapse" href="#editpanel-{{ component.name }}" role="button" aria-expanded="false" aria-controls="editpanel-{{ component.name }}"><small class="d-block"><i class="far fa-edit"></i> Edit <span class="text-capitalize">{{ component.baseName }}</span> Styles</small></a>
  <section class="px-2 px-md-5 pt-2 pb-3 mb-0 text-light bg-wvu-neutral--black position-relative collapse multi-collapse" id="editpanel-{{ component.name }}">
    <p class="mb-0">
      <!-- Region Name: {{component.region_names.classes}} -->
      <span class="d-inline-block badge badge-secondary">Utility classes:</span> <div class="text-monospace wvu-z-index-max position-relative">{% editable_region name: component.region_names.classes, scope: component.scope, type: "simple" %}</div>
    </p>
    <p class="mt-1">
      {% if component.defaultComponentClasses != blank %}
      <small>
        <strong class="text-muted">Default classes:</strong> <pre class="text-muted">{{ component.defaultComponentClasses }}</pre>
      </small>
      {% endif %}
    </p>
    <p class="mt-1">
      <small><strong class="text-muted">Label for background image:</strong></small> <span class="badge badge-pill badge-secondary">{{ page.slug }}-{{ component.name }}-background</span>
    </p>
    {% if component.baseName == 'photo-gallery' %}
      <p class="mt-1">
        <small><strong class="text-muted">Apply this label to your photos to include in this gallery:</strong></small> <span class="badge badge-pill badge-secondary">{{ page.slug }}-photo-gallery-{{ component.number }}</span>
      </p>
    {% endif %}
    <p class="mt-1">
      <small><strong class="text-muted">Aria Label (if this component has no header): {% editable_region name: ariaLabelRegionName, type: 'simple', scope: component.scope %}
    </p>
    <a class="text-wvu-accent--orange" data-toggle="collapse" href="#multiCollapseExample{{ component.name }}" role="button" aria-expanded="false" aria-controls="multiCollapseExample{{ component.name }}">Hints</a>
    <div class="row">
      <div class="col">
        <div class="collapse multi-collapse" id="multiCollapseExample{{ component.name }}">
          <ul class="text-monospace">
            <li>bg-* (wvu-accent--light-blue)</li>
            <li>text-center</li>
            <li>text-* (wvu-blue)</li>
            <li>wvu-bg-blend-mode-lighten</li>
            <li>wvu-bg-blend-mode-luminosity--* (10, 20, ... 80, 90)</li>
            <li>wvu-bg-pattern-* (blue, gold, grid, grid-transparent, grid-zoomed, grid-zoomed-transparent, confetti-gold-blue, confetti-gold-blue-white)</li>
            <li>wvu-bg-position-* (center, top, bottom)</li>
            <li>wvu-bg-size-cover</li>
            <li>wvu-bg-topo-* (light, dark)</li>
            <li>wvu-bg-vignetting--* (10, 20, ... 80, 90)</li>
          </ul>
          <p class="helvetica-neue">For a complete list, see our <a class="text-wvu-accent--orange" href="https://designsystem.sandbox.wvu.edu/utilities">utilities</a>.</p>
        </div>
      </div>
    </div>
    {% if component.baseName == 'featurettes' %}

      {% case component.limit %}
        {% when 1 %}
          {% case component.featurettesStyle %}
            {% when 'blog' or 'profiles' %}{% assign columnClasses = 'col-sm-6' %}
            {% when 'cards-w-overlay' or 'custom' or 'default' or 'editable-regions' %}{% assign columnClasses = 'col' %}
            {% when 'cards' or 'cards-w-editable-regions' %}{% assign columnClasses = 'col-sm-6 col-md-4' %}
            {% when 'testimonials' %}
              {% case component.align %}
                {% when 'middle' %}{% assign columnClasses = 'col-sm-6 mx-sm-auto' %}
                {% when 'right' %}{% assign columnClasses = 'col-sm-6 ml-sm-auto' %}
              {% else %}
                {% assign columnClasses = 'col-sm-6 mr-sm-auto' %}
              {% endcase %}
          {% endcase %}
        {% when 2 %}
          {% case component.featurettesStyle %}
            {% when 'cards-w-editable-regions' or 'cards-w-overlay' or 'cards' or 'default' or 'editable-regions' or 'testimonials' %}{% assign columnClasses = 'col-sm-6 col-md-4' %}
            {% when 'custom' %}{% assign columnClasses = 'col-sm-6 col-md' %}
          {% endcase %}
        {% when 3 %}
          {% case component.featurettesStyle %}
            {% when 'blog' or 'card-columns' or 'cards-w-editable-regions' or 'cards-w-overlay' or 'cards' or 'custom' or 'default' or 'editable-regions' or 'testimonials' %}{% assign columnClasses = 'col-sm-6 col-md' %}
          {% endcase %}
        {% when 4 %}
          {% assign columnClasses = 'col-sm-6 col-md' %}
        {% when 5 %}
          {% case component.featurettesStyle %}
            {% when 'blog' or 'card-columns' %}{% assign columnClasses = 'col-sm-6 col-md-4 col-lg-3' %}
            {% when 'cards-w-editable-regions' or 'cards-w-overlay' or 'cards' or 'custom' or 'default' or 'editable-regions' or 'profiles' or 'testimonials' %}{% assign columnClasses = 'col-sm-6 col-md-4 col-lg-3 col-xl' %}
          {% endcase %}
        {% when 6 %}
          {% case component.featurettesStyle %}
            {% when 'blog' or 'cards-w-editable-regions' or 'cards-w-overlay' or 'cards' or 'custom' or 'default' or 'editable-regions' or 'profiles' or 'testimonials' %}{% assign columnClasses = 'col-sm-6 col-md-4' %}
          {% endcase %}
        {% when 9 %}
          {% case component.featurettesStyle %}
            {% when 'blog' or 'cards-w-editable-regions' or 'cards-w-overlay' or 'cards' or 'custom' or 'default' or 'editable-regions' or 'profiles' or 'testimonials' %}{% assign columnClasses = 'col-sm-6 col-md-4' %}
          {% endcase %}
      {% else %}
        {% when 'blog' or 'cards-w-editable-regions' or 'cards-w-overlay' or 'custom' or 'default' or 'editable-regions' or 'profiles' or 'testimonials' %}{% assign columnClasses = 'col-sm-6 col-md-3' %}
        {% when 'card-columns' or 'cards' %}{% assign columnClasses = 'col-sm-6 col-md-4' %}
      {% endcase %}

      {% assign defaultItemClasses = component.defaultItemClasses | append: ' ' | append: columnClasses %}

      <!-- TODO: All these region names are set in views/includes/_wvu-component-variables.html -->
      <div class="row mt-3">
        <div class="col-lg text-white">
          <p class="mb-1 small">
            <r:edit_mode_only>Utility classes for row:</r:edit_mode_only>
              {% editable_region name: component.region_names.rowClasses, type: "simple", scope: component.scope %}
          </p>
          <p class="text-muted mb-0 mt-1 small">
            {% if component.defaultRowClasses != blank %}
              <strong>Default classes:</strong> {{ component.defaultRowClasses }}
            {% endif %}
          </p>
        </div>
        <div class="col-lg text-white">
          <p class="mb-1 small">
            {% if edit_mode %}Utility classes for items:{% endif %}
            {% editable_region name: component.region_names.itemClasses, type: "simple", scope: component.scope %}
          </p>
          <p class="text-muted mb-0 mt-1 small">
            {% if component.defaultItemClasses != blank %}
              <strong>Default classes:</strong> {{ component.defaultItemClasses }}
            {% endif %}
          </p>
        </div>
        {% if component.featurettesStyle != 'editable-regions' and component.featurettesStyle != 'cards-w-editable-regions' and component.featurettesStyle != 'video-regions' %}
          <div class="col-lg text-white">
            <p class="mb-1 small">
              {% if edit_mode %}Utility classes for item headers:{% endif %}
              {% editable_region name: component.region_names.itemHeaderClasses, type: "simple", scope: component.scope %}
            </p>
            <p class="text-muted mb-0 mt-1 small">
              {% if component.defaultItemHeaderClasses != blank %}
                <strong>Default classes:</strong> {{ component.defaultItemHeaderClasses }}
              {% endif %}
            </p>
          </div>
          <div class="col-lg text-white">
            <p class="mb-1 small">
              {% if edit_mode %}Utility classes for item body copy:{% endif %}
              {% editable_region name: component.region_names.itemBodyClasses, type: "simple", scope: component.scope %}
            </p>
            <p class="text-muted mb-0 mt-1 small">
              {% if component.defaultItemBodyClasses != blank %}
                <strong>Default classes:</strong> {{ component.defaultItemBodyClasses }}
              {% endif %}
            </p>
          </div>
          <div class="col-lg text-white">
            <p class="mb-1 small">
              {% if edit_mode %}Utility classes for buttons:{% endif %}
              {% editable_region name: component.region_names.itemButtonClasses, type: "simple", scope: component.scope %}
            </p>
            <p class="text-muted mb-0 mt-1 small">
              {% if component.defaultItemButtonClasses != blank %}
                <strong>Default classes:</strong> {{ component.defaultItemButtonClasses }}
              {% endif %}
            </p>
          </div>
          <div class="col-lg text-white">
            <p class="mb-1 small">
              {% if edit_mode %}Featurettes button text:{% endif %}
              {% editable_region name: component.region_names.readMoreButtonText, type: "simple", scope: component.scope, placeholder="Read More" %}
            </p>
            <p class="text-muted mb-0 mt-1 small">
              <strong>Default button text:</strong> Read More
            </p>
          </div>
        {% endif %}
      </div>
    {% endif %}
  </section>
{% endif %}
