<r:comment><!-- We want to store the values of the variables in the original base component. That way we can reassign the values in case we call a component within a component (that might change the values). --></r:comment>
<r:set_var name="baseComponentName" value="{$componentBaseComponentNameTemp}" />
<r:set_var name="componentInstance" value="{$componentInstanceTemp}" />
<r:set_var name="componentScope" value="{$componentScopeTemp}" />
<r:set_var name="componentName" value="{$componentNameTemp}" />
<r:set_var name="bgurl" value="{$bgurlTemp}" />
<r:set_var name="componentClasses" value="{$componentClassesTemp}" />
<r:set_var name="defaultComponentClasses" value="{$defaultComponentClassesTemp}" />
<r:set_var name="defaultHeaderClasses" value="{$defaultHeaderClassesTemp}" />
<r:set_var name="componentIsMain" value="{$componentIsMainTemp}" />
<r:set_var name="componentIsRandom" value="{$componentIsRandomTemp}" />
<r:set_var name="componentHasSubnav" value="{$componentHasSubnavTemp}" />
<r:set_var name="componentFeaturettesStyle" value="{$componentFeaturettesStyleTemp}" />
<r:set_var name="componentFeaturettesID" value="{$componentFeaturettesIDTemp}" />
<r:set_var name="componentAlign" value="{$componentAlignTemp}" />
<r:set_var name="componentDisplayContext" value="{$componentDisplayContextTemp}" />
<r:set_var name="componentLimit" value="{$componentLimitTemp}" />
<r:set_var name="componentLoopBy" value="{$componentLoopByTemp}" />
<r:set_var name="componentGalleryLoopBy" value="{$componentGalleryLoopByTemp}" />
<r:set_var name="componentIfBackpageRemoveNav" value="{$componentIfBackpageRemoveNavTemp}" />
<r:set_var name="componentIfBackpageRemoveSidebar" value="{$componentIfBackpageRemoveSidebarTemp}" />
<r:set_var name="componentShowHidden" value="{$componentShowHiddenTemp}" />
<r:set_var name="componentPostscript" value="{$componentPostscriptTemp}" />
<r:set_var name="componentClasses" value="{$componentClassesTemp}" />
<r:set_var name="defaultComponentClasses" value="{$defaultComponentClassesTemp}" />

<r:set_var name="componentIsEditModeOnly" value="{$componentIsEditModeOnlyTemp}" />
<r:set_var name="rowClasses" value="{$rowClassesTemp}" />
<r:set_var name="itemClasses" value="{$itemClassesTemp}" />
<r:set_var name="itemHeaderClasses" value="{$itemHeaderClassesTemp}" />
<r:set_var name="itemBodyClasses" value="{$itemBodyClassesTemp}" />
<r:set_var name="itemButtonClasses" value="{$itemButtonClassesTemp}" />
<r:set_var name="defaultRowClasses" value="{$defaultRowClassesTemp}" />
<r:set_var name="defaultItemClasses" value="{$defaultItemClassesTemp}" />
<r:set_var name="defaultItemHeaderClasses" value="{$defaultItemHeaderClassesTemp}" />
<r:set_var name="defaultItemBodyClasses" value="{$defaultItemBodyClassesTemp}" />
<r:set_var name="defaultItemButtonClasses" value="{$defaultItemButtonClassesTemp}" />
<r:set_var name="componentReadMoreButtonText" value="{$componentReadMoreButtonTextTemp}" />
