<!-- Featurette: cards-w-overlay -->
{%- liquid
  if component.full_width_or_backpage?
    case component.limit
      when 1
        assign columnClasses = 'col'
      when 2 or 6 or 9
        assign columnClasses = 'col-sm-6 col-md-4'
      when 3 or 4
        assign columnClasses = 'col-sm-6 col-md'
      when 5
        assign columnClasses = 'col-sm-6 col-md-4 col-lg-3 col-xl'
      else
        assign columnClasses = 'col-sm-6 col-md-3'
    endcase
  endif

  assign defaultItemClasses = component.defaultItemClasses | append: ' ' | append: columnClasses
  assign itemClasses = page.content[component.region_names.itemClasses] | default: defaultItemClasses
  assign rowClasses = page.content[component.region_names.rowClasses] | default: 'justify-content-center'
  assign itemHeaderClasses = page.content[component.region_names.itemHeaderClasses] | default: 'h3 iowan-old-style-italic mb-1'
  assign itemBodyClasses = page.content[component.region_names.itemBodyClasses] | default: ''

  assign root = site.root_page
  assign items = root.descendants | filter_pages: by: component.loopBy, sort: component.loopOrder, tags: component.itemLabels, tags_match: component.loopLabelsMatch, hidden: component.showHidden, random: component.random, limit: component.limit

  if page.content[component.region_names.header] != blank
    assign htag = 'h3'
  else
    assign htag = 'h2'
  endif
-%}

{% capture loopContent %}
  {% for item in items.all %}
    {% capture bgLabel %}{{ component.featurettesBgPrefix }}-panel-{{ forloop.index }}-background{% endcapture %}
    {% assign bgStyler = bgLabel | background_styler %}

    {% liquid
      if item.data.alternate_url != blank
        assign link_href = item.data.alternate_url
      else
        assign link_href = item.url
      endif
    %}

    {% capture htag_id %}{{ item.slug }}-{{ component.name }}-{{ item.id }}{% endcapture %}

    <div class="{{ itemClasses }}">
      <a class="text-white" href="{{ link_href }}">
        <div class="card bg-dark text-white shadow wvu-bg-vignetting">

          {% if item.data.thumbnail_url != blank %}
            {% assign pageThumbnailSrc = item.data.thumbnail_url %}
            {% assign pageThumbnailSrcTruncated = pageThumbnailSrc | split: 'iles/d/' %}
            {% if pageThumbnailSrcTruncated.size == 1 %}
              {% assign pageThumbnailSrcTruncated = pageThumbnailSrcTruncated | split: 'iles/' %}
            {% endif %}
            {% assign fileId = pageThumbnailSrcTruncated[1] | split: '/' %}
            {% assign newPageThumbnailSrc = 'https://' | append: site.domain | append: '/files/' | append: fileId[0] %}
            <img src="{{ newPageThumbnailSrc }}/381x255.jpg" srcset="{{ newPageThumbnailSrc }}/960x640.jpg, {{ newPageThumbnailSrc }}/586x286.jpg, {{ newPageThumbnailSrc }}/381x255.jpg, {{ newPageThumbnailSrc }}/286x191.jpg, {{ newPageThumbnailSrc }}/279x186.jpg, {{ newPageThumbnailSrc }}/217x145.jpg" sizes="960px, (min-width: 768px) 586px" alt="{{ item.data.thumbnail_alt  }}">
          {% else %}
            <img class="card-img-top" src="https://via.placeholder.com/960x640" alt="Placeholder">
          {% endif %}

          <div class="card-img-overlay">
            <div class="wvu-z-index-content">
              <{{ htag }} class="card-title {{ itemHeaderClasses }}">{{ item.alternate_name | default: item.name }}</{{ htag }}>
              {% if item.data.description != blank %}
                <p class="{{ itemBodyClasses }}">
                  {{ item.data.description }}
                </p>
              {% endif %}
            </div>
          </div>
        </div>
      </a>
    </div>
  {% endfor %}
{% endcapture %}

{% if component.full_width_or_backpage? %}
  <div class="row {{ rowClasses }}">{{ loopContent }}</div>
{% else %}
  {{ loopContent }}
{% endif %}
