<r:comment><!-- We want to store the values of the variables in the original base component. That way we can reassign the values in case we call a component within a component (that might change the values). --></r:comment>
<r:set_var name="componentInstance" value="1" />
<r:set_var name="componentScope" value="page" />
<r:set_var name="componentName" value="" />
<r:set_var name="bgurl" value="" />
<r:set_var name="defaultComponentClasses" value="" />
<r:set_var name="defaultHeaderClasses" value="" />
<r:set_var name="componentIsMain" value="false" />
<r:set_var name="componentIsRandom" value="false" />
<r:set_var name="componentHasSubnav" value="1" />
<r:set_var name="componentFeaturettesStyle" value="default" />
<r:set_var name="componentFeaturettesID" value="" />
<r:set_var name="componentAlign" value="left" />
<r:set_var name="componentLimit" value="4" />
<r:set_var name="componentLoopBy" value="sort_order" />
<r:set_var name="componentIsEditModeOnly" value="0" />
