<r:comment><!-- Pull in content from pages labeled with the slug of the page you want it to show on and the component name --></r:comment>
<r:set_var name="itemLabels">
  <r:page:slug />-<r:var name="componentName" />
</r:set_var>

<r:content_for name="{$componentReadMoreButtonText}">Read More</r:content_for>

<r:set_var name="itemReadMoreButtonText">
  <r:yield name="{$componentReadMoreButtonText}"><r:content /></r:yield>
</r:set_var>

<r:set_var name="columnClasses">
  col-sm-6 col-md-3
</r:set_var>

<r:if v1="{$componentLimit}" v2="1" op="=">
  <r:set_var name="columnClasses">
    col-sm-6
  </r:set_var>
</r:if>
<r:if v1="{$componentLimit}" v2="2" op="=">
  <r:set_var name="columnClasses">
    col-sm-6 col-md-3
  </r:set_var>
</r:if>
<r:if v1="{$componentLimit}" v2="3" op="=">
  <r:set_var name="columnClasses">
    col-sm-6 col-md-4
  </r:set_var>
</r:if>
<r:if v1="{$componentLimit}" v2="4" op="=">
  <r:set_var name="columnClasses">
    col-sm-6 col-md
  </r:set_var>
</r:if>
<r:if v1="{$componentLimit}" v2="5" op="=">
  <r:set_var name="columnClasses">
    col-sm-6 col-md-4 col-lg-3
  </r:set_var>
</r:if>
<r:if v1="{$componentLimit}" v2="6" op="=">
  <r:set_var name="columnClasses">
    col-sm-6 col-md-4
  </r:set_var>
</r:if>
<r:if v1="{$componentLimit}" v2="9" op="=">
  <r:set_var name="columnClasses">
    col-sm-6 col-md-4
  </r:set_var>
</r:if>
<r:if v1="{$componentDisplayContext}" v2="as_full_width_block" op="!=">
  <r:set_var name="columnClasses">
    col-sm-12 col-md-12
  </r:set_var>
</r:if>

<r:get_page id="{$componentFeaturettesID}">
  <r:if v1="{$componentDisplayContext}" v2="as_full_width_block" op="="><div class="row d-flex justify-content-center"></r:if>
    <r:comment><!-- You can set $loopBy to: "name", "slug", "created_at", "updated_at", "sort_order", "template_name", "published_at", "title", "alternate_name", "meta_description", "content_updated_at";
      and $loopOrder to: "asc" or "desc";
      and $loopLabelsMatch to: "any", "all", or "none". --></r:comment>
    <r:comment><!-- Grab the first item in the loop, and display a dummy version of it that accepts button text that will apply to all others items in the featurettes. --></r:comment>
    <r:edit_mode_only>
      <r:blog:articles limit="1" page="{$page}" tags="{$itemLabels}" tags_op="all" year="{$year}" month="{$month}" day="{$day}">
        <r:set_var name="article_count" value="{count}" />
        <r:if_no_articles>
          <p>No blog posts found. Try again later, perhaps?</p>
        </r:if_no_articles>
        <r:if_articles>
          <r:each>
            <div class="<r:if v1="{$componentDisplayContext}" v2="as_full_width_block" op="="><r:var name="columnClasses" /></r:if> mb-3 pt-2 mt-2 border border-wvu-accent--red">
              <div class="mt-3<r:if v1="{$componentDisplayContext}" v2="as_full_width_block" op="!="> row</r:if>">
                <r:if expr="{{ NOT(BLANK(thumbnail_url)) }}">
                  <div class="mb-1<r:if v1="{$componentDisplayContext}" v2="as_full_width_block" op="!="> col-md-4</r:if>">
                    <a href="<r:if expr="{{ NOT(BLANK(alternate_url)) }}"><r:page:data name="alternate_url" /></r:if><r:if expr="{{ BLANK(alternate_url) }}"><r:page:url /></r:if>"><img class="shadow" src="<r:page:data name="thumbnail_url" />/381x255.jpg" srcset="<r:page:data name="thumbnail_url" />/960x640.jpg, <r:page:data name="thumbnail_url" />/586x286.jpg, <r:page:data name="thumbnail_url" />/381x255.jpg, <r:page:data name="thumbnail_url" />/286x191.jpg, <r:page:data name="thumbnail_url" />/279x186.jpg, <r:page:data name="thumbnail_url" />/217x145.jpg" sizes="960px, (min-width: 768px) 586px" alt="<r:page:data name="thumbnail_alt" />"></a>
                  </div>
                </r:if>
                <r:if v1="{$componentDisplayContext}" v2="as_full_width_block" op="!="><div class="col-md-8"></r:if>
                  <h3 class="iowan-old-style-italic mb-1"><a href="<r:if expr="{{ NOT(BLANK(alternate_url)) }}"><r:page:data name="alternate_url" /></r:if><r:if expr="{{ BLANK(alternate_url) }}"><r:article:path /></r:if>"><r:article:name /></a></h3>
                  <p>
                    <r:if expr="{{ NOT(BLANK(description)) }}"><r:page:data name="description" /></r:if>
                    <r:if expr="{{ BLANK(description) }}">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</r:if>
                  </p>
                  <r:page:if_has_content_for region="{$componentReadMoreButtonText}" always_show_in_edit_mode="true">
                    <r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="=">
                      <a class="btn btn-primary btn-sm text-white" aria-labelledby="<r:page:slug />-<r:page:id />"><r:yield name="{$componentReadMoreButtonText}" /></a>
                    </r:if>
                    <r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="!=">
                      <a class="btn btn-primary btn-sm text-white" aria-labelledby="<r:page:slug />-<r:page:id />"><r:editable_region name="{$componentReadMoreButtonText}"><r:yield name="{$componentReadMoreButtonText}"><r:content /></r:yield></r:editable_region></a>
                    </r:if>
                  </r:page:if_has_content_for>
                  <p class="bg-light mt-1 p-2 text-wvu-neutral--black"><small class="d-block">This is the template the rest will follow. Edit the button text that will apply to all elements in this featurettes component. You can also set these globally in the site settings (add link). If you don’t want a button to display, delete the content.</small></p>
                <r:if v1="{$componentDisplayContext}" v2="as_full_width_block" op="!="></div></r:if>
              </div>
            </div>
          </r:each>
        </r:if_articles>
      </r:blog:articles>
    </r:edit_mode_only>
    <r:comment><!-- Grab all of the items in the loop. --></r:comment>
    <r:blog:articles limit="{$limit}" page="{$page}" tags="{$itemLabels}" tags_op="all" year="{$year}" month="{$month}" day="{$day}">
      <r:set_var name="contentIndex">
        <r:index />
      </r:set_var>
      <r:set_var name="article_count" value="{count}" />
      <r:if_no_articles>
        <p>No blog posts found. Try again later, perhaps?</p>
      </r:if_no_articles>
      <r:if_articles>
        <r:each>
          <r:if v1="{$itemCount}" v2="1" op="!=">
            <div class="<r:if v1="{$componentDisplayContext}" v2="as_full_width_block" op="="><r:var name="columnClasses" /> </r:if>mb-3 <r:edit_mode_only><r:if v1="{$contentIndex}" v2="1" op="=">d-none</r:if></r:edit_mode_only>">
          </r:if>
            <div class="mt-3<r:if v1="{$componentDisplayContext}" v2="as_full_width_block" op="!="> row</r:if>">
              <r:if expr="{{ NOT(BLANK(thumbnail_url)) }}">
                <div class="mb-1<r:if v1="{$componentDisplayContext}" v2="as_full_width_block" op="!="> col-md-4</r:if>">
                  <a href="<r:if expr="{{ NOT(BLANK(alternate_url)) }}"><r:page:data name="alternate_url" /></r:if><r:if expr="{{ BLANK(alternate_url) }}"><r:page:url /></r:if>"><img class="shadow" src="<r:page:data name="thumbnail_url" />/381x255.jpg" srcset="<r:page:data name="thumbnail_url" />/960x640.jpg, <r:page:data name="thumbnail_url" />/586x286.jpg, <r:page:data name="thumbnail_url" />/381x255.jpg, <r:page:data name="thumbnail_url" />/286x191.jpg, <r:page:data name="thumbnail_url" />/279x186.jpg, <r:page:data name="thumbnail_url" />/217x145.jpg" sizes="960px, (min-width: 768px) 586px" alt="<r:page:data name="thumbnail_alt" />"></a>
                </div>
              </r:if>
              <r:if v1="{$componentDisplayContext}" v2="as_full_width_block" op="!="><div class="col-md-8"></r:if>
                <h3 class="iowan-old-style-italic mb-1"><a href="<r:if expr="{{ NOT(BLANK(alternate_url)) }}"><r:page:data name="alternate_url" /></r:if><r:if expr="{{ BLANK(alternate_url) }}"><r:article:path /></r:if>"><r:article:name /></a></h3>
                <p>
                  <r:if expr="{{ NOT(BLANK(description)) }}"><r:page:data name="description" /></r:if>
                  <r:if expr="{{ BLANK(description) }}">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</r:if>
                </p>
                <a class="btn btn-primary btn-sm" aria-labelledby="<r:page:slug />-<r:page:id />" href="<r:if expr="{{ NOT(BLANK(alternate_url)) }}"><r:page:data name="alternate_url" /></r:if><r:if expr="{{ BLANK(alternate_url) }}"><r:article:path /></r:if>"><r:if expr="{{ NOT(BLANK(link_text)) }}"><r:page:data name="link_text" /></r:if><r:if expr="{{ BLANK(link_text) }}"><r:var name="itemReadMoreButtonText" /><span class="sr-only">: <r:article:name /></span></r:if></a>
              <r:if v1="{$componentDisplayContext}" v2="as_full_width_block" op="!="></div></r:if>
            </div>
          <r:if v1="{$itemCount}" v2="1" op="!=">
            </div>
          </r:if>
        </r:each>
      </r:if_articles>
    </r:blog:articles>
  <r:if v1="{$componentDisplayContext}" v2="as_full_width_block" op="="></div></r:if>
</r:get_page>
