{% comment %}<!-- This is the label that will be used to pull in content to the featurettes component. The component pulls from from pages labeled with the slug of the page upon which you want it to display, along with the component name (base name plus instance number e.g. if this component should display on the Home page, label the pages you want to pull data from with “home-featurettes-1”). -->{% endcomment %}
<r:set_var name="itemLabels">
  <r:page:slug />-<r:var name="componentName" />
</r:set_var>

<r:if_true value="{{ CONTAINS(LIST('as_full_width_block', 'wvu-backpage'), componentDisplayContext) }}">
  {% comment %}<!-- Set the columnClasses variable. These change based on how many items are meant to display as featurettes. They will be added to the individuals items. -->{% endcomment %}
  <r:set_var name="columnClasses">
    col-sm-6 col-md-3
  </r:set_var>
  <r:if_equal x="{$componentLimit}" y="1">
    <r:set_var name="columnClasses">
      col
    </r:set_var>
  </r:if_equal>
  <r:if_equal x="{$componentLimit}" y="2">
    <r:set_var name="columnClasses">
      col-sm-6 col-md-4
    </r:set_var>
  </r:if_equal>
  <r:if_equal x="{$componentLimit}" y="3">
    <r:set_var name="columnClasses">
      col-sm-6 col-md
    </r:set_var>
  </r:if_equal>
  <r:if_equal x="{$componentLimit}" y="4">
    <r:set_var name="columnClasses">
      col-sm-6 col-md
    </r:set_var>
  </r:if_equal>
  <r:if_equal x="{$componentLimit}" y="5">
    <r:set_var name="columnClasses">
      col-sm-6 col-md-4 col-lg-3 col-xl
    </r:set_var>
  </r:if_equal>
  <r:if_equal x="{$componentLimit}" y="6">
    <r:set_var name="columnClasses">
      col-sm-6 col-md-4
    </r:set_var>
  </r:if_equal>
  <r:if_equal x="{$componentLimit}" y="9">
    <r:set_var name="columnClasses">
      col-sm-6 col-md-4
    </r:set_var>
  </r:if_equal>
</r:if_true>

<r:content_for name="{$defaultRowClasses}">justify-content-center</r:content_for>
<r:content_for name="{$defaultItemClasses}"><r:var name="columnClasses" /> mb-3 mb-md-0</r:content_for>
<r:content_for name="{$defaultItemHeaderClasses}">h3 iowan-old-style-italic mb-1</r:content_for>
<r:content_for name="{$defaultItemBodyClasses}"></r:content_for>
<r:content_for name="{$defaultItemButtonClasses}">btn-primary btn-sm</r:content_for>

<r:set_var name="rowClassesChecker">
  <r:page:unless_has_content_for region="{$rowClasses}"><r:yield name="{$defaultRowClasses}" /> </r:page:unless_has_content_for><r:page:content name="{$rowClasses}" />
</r:set_var>

<r:set_var name="itemClassesChecker">
  <r:page:unless_has_content_for region="{$itemClasses}"><r:yield name="{$defaultItemClasses}" /> </r:page:unless_has_content_for><r:page:content name="{$itemClasses}" />
</r:set_var>

<r:set_var name="itemHeaderClassesChecker">
  <r:page:unless_has_content_for region="{$itemHeaderClasses}"><r:yield name="{$defaultItemHeaderClasses}" /> </r:page:unless_has_content_for><r:page:content name="{$itemHeaderClasses}" />
</r:set_var>

<r:set_var name="itemBodyClassesChecker">
  <r:page:unless_has_content_for region="{$itemBodyClasses}"><r:yield name="{$defaultItemBodyClasses}" /> </r:page:unless_has_content_for><r:page:content name="{$itemBodyClasses}" />
</r:set_var>

<r:set_var name="itemButtonClassesChecker">
  <r:page:unless_has_content_for region="{$itemButtonClasses}"><r:yield name="{$defaultItemButtonClasses}" /> </r:page:unless_has_content_for><r:page:content name="{$itemButtonClasses}" />
</r:set_var>

<r:set_var name="itemReadMoreButtonTextChecker">
  <r:page:unless_has_content_for region="{$componentReadMoreButtonText}">Read More</r:page:unless_has_content_for><r:page:content name="{$componentReadMoreButtonText}" />
</r:set_var>

{% comment %}<!-- Grab the button text so we can evaluate whether to display the button (if user has entered “none” then we don’t display the button). -->{% endcomment %}
<r:set_var name="buttonText">
  <r:page:content name="{$componentReadMoreButtonText}" />
</r:set_var>

<r:root>
  {% comment %}<!-- You can set $loopBy to: "name", "slug", "created_at", "updated_at", "sort_order", "template_name", "published_at", "title", "alternate_name", "meta_description", "content_updated_at";
    and $loopOrder to: "asc" or "desc";
    and $loopLabelsMatch to: "any", "all", or "none". -->{% endcomment %}
  <r:descendants by="{$componentLoopBy}" order="{$componentLoopOrder}" labels="{$itemLabels}" labels_match="{$componentLoopLabelsMatch}" hidden="{$componentShowHidden}" random="{$componentIsRandom}">
    <r:if_true value="{{ CONTAINS(LIST('as_full_width_block', 'wvu-backpage'), componentDisplayContext) }}"><div class="row <r:var name="rowClassesChecker" />"></r:if_true>
    <r:each limit="{$limit}">
      <r:set_var name="bgurl">
        <r:var name="bgPrefix" />-panel-<r:index />-background
      </r:set_var>
      <div class="<r:var name="itemClassesChecker" />" <r:partial name="utilities/wvu-bg-styler" theme="University Relations: WVU Design System" />>
        <r:if_not_blank value="{$thumbnail_url}">
          <div class="mb-1">
            <a title="<r:var name="itemReadMoreButtonTextChecker" />: <r:page:name />" href="<r:if_then_else test="{{ NOT(BLANK(alternate_url)) }}" then="{$alternate_url}" else="{page:url}" />"><img src="<r:page:data name="thumbnail_url" />/381x255.jpg" srcset="<r:page:data name="thumbnail_url" />/960x640.jpg, <r:page:data name="thumbnail_url" />/586x286.jpg, <r:page:data name="thumbnail_url" />/381x255.jpg, <r:page:data name="thumbnail_url" />/286x191.jpg, <r:page:data name="thumbnail_url" />/279x186.jpg, <r:page:data name="thumbnail_url" />/217x145.jpg" sizes="960px, (min-width: 768px) 586px" alt="<r:page:data name="thumbnail_alt" />"></a>
          </div>
        </r:if_not_blank>
        <<r:page:if_has_content_for region="{$componentHeader}">h3</r:page:if_has_content_for><r:page:unless_has_content_for region="{$componentHeader}">h2</r:page:unless_has_content_for> class="<r:var name="itemHeaderClassesChecker" />" id="<r:page:slug />-<r:var name="componentName" />-<r:page:id />"><r:page:first_non_blank_attr names="alternate_name,name" /></<r:page:if_has_content_for region="{$componentHeader}">h3</r:page:if_has_content_for><r:page:unless_has_content_for region="{$componentHeader}">h2</r:page:unless_has_content_for>>
        <p class="<r:var name="itemBodyClassesChecker" />">
          <r:if_then_else test="{{ NOT(BLANK(description)) }}" then="{$description}" else="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." />
        </p>
        <r:if_not_equal x="{$buttonText}" y="none">
          <a class="btn <r:var name="itemButtonClassesChecker" />" aria-labelledby="<r:page:slug />-<r:var name="componentName" />-<r:page:id />" href="<r:if_then_else test="{{ NOT(BLANK(alternate_url)) }}" then="{$alternate_url}" else="{page:url}" />"><r:if_not_blank value="{$link_text}"><r:page:data name="link_text" /></r:if_not_blank><r:if_blank value="{$link_text}"><r:var name="itemReadMoreButtonTextChecker" /><span class="sr-only">: <r:page:name /></span></r:if_blank></a>
        </r:if_not_equal>
      </div>
    </r:each>
    <r:if_true value="{{ CONTAINS(LIST('as_full_width_block', 'wvu-backpage'), componentDisplayContext) }}"></div></r:if_true>
  </r:descendants>
</r:root>
