{% comment %}<!-- Pull in content from pages labeled with the slug of the page you want it to show on and the component name -->{% endcomment %}
<r:set_var name="itemLabels">
  <r:page:slug />-<r:var name="componentName" />
</r:set_var>

<r:if_true value="{{ CONTAINS(LIST('as_full_width_block', 'wvu-backpage'), componentDisplayContext) }}">
  <r:set_var name="columnClasses">
    col-md-6 col-lg-4 col-xl-3
  </r:set_var>
  <r:if_equal x="{$componentLimit}" y="1">
    <r:set_var name="columnClasses">
      col-sm-6
    </r:set_var>
  </r:if_equal>
  <r:if_equal x="{$componentLimit}" y="2">
    <r:set_var name="columnClasses">
      col-sm-6 col-lg-4
    </r:set_var>
  </r:if_equal>
  <r:if_equal x="{$componentLimit}" y="3">
    <r:set_var name="columnClasses">
      col-sm-6 col-lg
    </r:set_var>
  </r:if_equal>
  <r:if_equal x="{$componentLimit}" y="4">
    <r:set_var name="columnClasses">
      col-sm-6 col-lg-4 col-xl
    </r:set_var>
  </r:if_equal>
  <r:if_equal x="{$componentLimit}" y="5">
    <r:set_var name="columnClasses">
      col-sm-6 col-lg-4 col-xl-3 col-xl
    </r:set_var>
  </r:if_equal>
  <r:if_equal x="{$componentLimit}" y="6">
    <r:set_var name="columnClasses">
      col-sm-6 col-lg-4 col-xl-3
    </r:set_var>
  </r:if_equal>
  <r:if_equal x="{$componentLimit}" y="9">
    <r:set_var name="columnClasses">
      col-sm-6 col-lg-4 col-xl-3
    </r:set_var>
  </r:if_equal>
</r:if_true>

<r:content_for name="{$defaultRowClasses}">justify-content-center</r:content_for>
<r:content_for name="{$defaultItemClasses}"><r:var name="columnClasses" /> mb-3 mb-md-0</r:content_for>
<r:content_for name="{$defaultItemHeaderClasses}">h3 wvu-shout text-wvu-gold text-shadow</r:content_for>
<r:content_for name="{$defaultItemBodyClasses}"></r:content_for>

<r:set_var name="rowClassesChecker">
  <r:page:unless_has_content_for region="{$rowClasses}"><r:yield name="{$defaultRowClasses}" /> </r:page:unless_has_content_for><r:page:content name="{$rowClasses}" />
</r:set_var>
<r:set_var name="itemClassesChecker">
  <r:page:unless_has_content_for region="{$itemClasses}"><r:yield name="{$defaultItemClasses}" /> </r:page:unless_has_content_for><r:page:content name="{$itemClasses}" />
</r:set_var>
<r:set_var name="itemHeaderClassesChecker">
  <r:page:unless_has_content_for region="{$itemHeaderClasses}"><r:yield name="{$defaultItemHeaderClasses}" /> </r:page:unless_has_content_for><r:page:content name="{$itemHeaderClasses}" />
</r:set_var>

<r:set_var name="itemBodyClassesChecker">
  <r:page:unless_has_content_for region="{$itemBodyClasses}"><r:yield name="{$defaultItemBodyClasses}" /> </r:page:unless_has_content_for><r:page:content name="{$itemBodyClasses}" />
</r:set_var>

<r:root>
  {% comment %}<!-- You can set $loopBy to: "name", "slug", "created_at", "updated_at", "sort_order", "template_name", "published_at", "title", "alternate_name", "meta_description", "content_updated_at";
    and $loopOrder to: "asc" or "desc";
    and $loopLabelsMatch to: "any", "all", or "none". -->{% endcomment %}
  <r:descendants by="{$componentLoopBy}" order="{$componentLoopOrder}" labels="{$itemLabels}" labels_match="{$componentLoopLabelsMatch}" hidden="{$componentShowHidden}" random="{$componentIsRandom}">
    <r:if_true value="{{ CONTAINS(LIST('as_full_width_block', 'wvu-backpage'), componentDisplayContext) }}"><div class="row <r:var name="rowClassesChecker" />"></r:if_true>
      {% comment %}<!-- Grab all of the items in the loop. -->{% endcomment %}
      <r:each limit="{$limit}">
        <div class="<r:var name="itemClassesChecker" />">
          <a class="text-white" href="<r:if_then_else test="{{ NOT(BLANK(alternate_url)) }}" then="{$alternate_url}" else="{page:url}" />">
            <div class="card bg-dark text-white shadow wvu-bg-vignetting">
              <r:if_not_blank value="{$thumbnail_url}">
                <img src="<r:page:data name="thumbnail_url" />/381x255.jpg" srcset="<r:page:data name="thumbnail_url" />/960x640.jpg, <r:page:data name="thumbnail_url" />/586x286.jpg, <r:page:data name="thumbnail_url" />/381x255.jpg, <r:page:data name="thumbnail_url" />/286x191.jpg, <r:page:data name="thumbnail_url" />/279x186.jpg, <r:page:data name="thumbnail_url" />/217x145.jpg" sizes="960px, (min-width: 768px) 586px" alt="<r:page:data name="thumbnail_alt" />">
              </r:if_not_blank>
              <r:if_blank value="{$thumbnail_url}">
                <img class="card-img-top" src="http://placehold.it/960x640" alt="Placeholder">
              </r:if_blank>
              <div class="card-img-overlay">
                <div class="wvu-z-index-content">
                  <<r:page:if_has_content_for region="{$componentHeader}">h3</r:page:if_has_content_for><r:page:unless_has_content_for region="{$componentHeader}">h2</r:page:unless_has_content_for> class="card-title <r:var name="itemHeaderClassesChecker" />"><r:page:first_non_blank_attr names="alternate_name,name" /></<r:page:if_has_content_for region="{$componentHeader}">h3</r:page:if_has_content_for><r:page:unless_has_content_for region="{$componentHeader}">h2</r:page:unless_has_content_for>>
                  <p class="card-text <r:var name="itemBodyClassesChecker" />">
                    <small class="d-block"><r:if_then_else test="{{ NOT(BLANK(description)) }}" then="{$description}" else="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." /></small>
                  </p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </r:each>
    <r:if_true value="{{ CONTAINS(LIST('as_full_width_block', 'wvu-backpage'), componentDisplayContext) }}"></div></r:if_true>
  </r:descendants>
</r:root>
