@mixin wvu-header-max-width($is-important: $global-important) {
  max-width: 9em $is-important;
}

@mixin helvetica-neue($is-important: $global-important) {
  font-family: $helvetica-neue-fallback $is-important;
  .expanded-fonts-loaded & {
    font-family: $helvetica-neue $is-important;
  }
}

@mixin helvetica-neue-bold($is-important: $global-important) {
  font-family: $helvetica-neue-fallback $is-important;
  font-weight: bold $is-important;
  .expanded-fonts-loaded & {
    font-family: $helvetica-neue-bold $is-important;
    font-weight: normal $is-important;
  }
}

@mixin helvetica-neue-light($is-important: $global-important) {
  font-family: $helvetica-neue-fallback $is-important;
  font-weight: normal $is-important;
  -webkit-font-smoothing: antialiased $is-important;
  .base-fonts-loaded & {
    font-family: $helvetica-neue-light $is-important;
  }
}

// NOTE: You must include the fonts.com script for the Iowan web font to use Iowan as you see here.
@mixin iowan-old-style($is-important: $global-important) {
  font-family: $iowan-fallback $is-important;
  font-weight: normal $is-important;
  line-height: $wvu-traditional-audience-line-height $is-important;
  -webkit-font-smoothing: antialiased $is-important;
  .expanded-fonts-loaded & {
    font-family: $iowan-old-style $is-important;
  }
  &.display-1, &.display-2, &.display-3, &.display-4 {
    line-height: 1em !important;
  }
}

@mixin iowan-old-style-italic($is-important: $global-important) {
  font-family: $iowan-fallback $is-important;
  font-style: italic $is-important;
  font-weight: normal $is-important;
  line-height: $wvu-traditional-audience-line-height $is-important;
  -webkit-font-smoothing: antialiased $is-important;
  .expanded-fonts-loaded & {
    font-family: $iowan-old-style-italic $is-important;
    font-style: normal $is-important;
  }
  &.display-1, &.display-2, &.display-3, &.display-4 {
    line-height: 1em !important;
  }
}

@mixin iowan-old-style-black($is-important: $global-important) {
  font-family: $iowan-fallback $is-important;
  font-weight: bold $is-important;
  line-height: $wvu-traditional-audience-line-height $is-important;
  -webkit-font-smoothing: antialiased $is-important;
  .expanded-fonts-loaded & {
    font-family: $iowan-old-style-black $is-important;
    font-weight: normal $is-important;
  }
  &.display-1, &.display-2, &.display-3, &.display-4 {
    line-height: 1em !important;
  }
}

@mixin iowan-old-style-black-italic($is-important: $global-important) {
  font-family: $iowan-fallback;
  font-style: italic $is-important;
  font-weight: bold $is-important;
  line-height: $wvu-traditional-audience-line-height $is-important;
  -webkit-font-smoothing: antialiased $is-important;
  .expanded-fonts-loaded & {
    font-family: $iowan-old-style-black-italic $is-important;
    font-style: normal $is-important;
    font-weight: normal $is-important;
  }
  &.display-1, &.display-2, &.display-3, &.display-4 {
    line-height: 1em !important;
  }
}

@mixin wvu-shout($is-important: $global-important) {
  font-family: $wvu-shout-fallback $is-important;
  font-weight: bolder $is-important;
  letter-spacing: -.4px $is-important;
  line-height: $wvu-shout-line-height $is-important;
  text-transform: uppercase $is-important;
  word-break: break-word $is-important;
  .base-fonts-loaded & {
    font-family: $wvu-shout-font-family $is-important;
    font-weight: normal $is-important;
    letter-spacing: 0 $is-important;
  }
}

@mixin wvu-first-line-gold($is-important: $global-important) {
  &:first-line {
    color: $wvu-gold $is-important;
  }
}

@mixin wvu-quote() {
  &:before {
    @include wvu-shout();
    color: $wvu-gold;
    content: '“';
    display: block;
    font-size: 3rem;
  }
}
