@mixin wvu-bar($wvu-bar-color, $wvu-bar-position, $is-important: $global-important) {
  position: relative $is-important;
  @if $wvu-bar-position == 'top' {
    margin-top: $spacer * 2 $is-important;
    &:before {
      background-color: $wvu-bar-color $is-important;
      content: '' $is-important;
      height: 1rem * .5 $is-important;
      position: absolute $is-important;
      top: -1rem $is-important;
      width: $wvu-bar-width $is-important;
    }
  }
  @if $wvu-bar-position == 'bottom' {
    margin-bottom: $spacer * 2 $is-important;
    margin-top: 0 $is-important;
    &:before {
      display: none $is-important;
    }
    &:after {
      background-color: $wvu-bar-color $is-important;
      bottom: -1rem $is-important;
      content: '' $is-important;
      height: 1rem * .5 $is-important;
      left: 0 $is-important;
      position: absolute $is-important;
      width: $wvu-bar-width $is-important;
    }
  }
}
