@mixin wvu-shout() {
  font-family: $wvu-shout-font-family !important;
  line-height: $wvu-shout-line-height !important;
  text-transform: uppercase !important;
  word-break: break-word !important;
}
