<r:comment><!-- Define a base name for this component. We can use this later to dynamically create things like editable region names --></r:comment>
<r:set_var name="baseComponentName" value="subnav" />

<r:comment><!-- Pull in component name, instance number, scope, etc. We will use these bits to dynamically define things like editable region names. --></r:comment>
<r:partial name="includes/wvu-component-variables" theme="University Relations: WVU Design System" />

<r:ancestor_menu start_depth="2" max_depth="3" ul_class="nav flex-column border-left border-muted pl-1 mb-3" li_class="nav-item" link_class="nav-link" active_class="active" open_class="nav-secondary--open" />
