<!-- Component: blog-article-hero -->
{%- define_component component %}
  {
    "baseName": "blog-article-hero",
    "align": "{{ component.align }}",
    "needsARIALabel": true,
    "defaultComponentClasses": "bg-dark text-white wvu-bg-position-center wvu-bg-size-cover wvu-bg-vignetting",
    "defaultHeaderClasses": "display-2 iowan-old-style",
    "mainTagClasses": "jumbotron jumbotron-fluid mb-0 wvu-overflow-hidden wvu-bg-size-cover"
  }
{%- enddefine_component %}


{% capture component_content %}
  <div class="container position-relative wvu-z-index-content">
    <div class="row py-5{% if article.data.hero_text_alignment == '1' %} justify-content-end{% endif %}">
      <div class="col col-md-6 {% if component.align == 'right' %}ml-md-auto{% elsif component.align == 'middle' %}mx-md-auto{% endif %}">
        {% comment %}<!-- This uses a variable to define the name of the editable region. In the Super Theme, this is defined dynamically. If you are making a custom theme, and want to reference this partial more than once in the same tempalte, you will need to define an instance number (set_var name="componentInstance" value="something") when you insert each partial. -->{% endcomment %}
        {% if edit_mode %}
          <small class="wvu-z-index-content d-block mb-2 text-left text-muted p-1 bg-wvu-neutral--dark-gray">Header classes:
            <pre class="mb-0 text-white">{% editable_region name: component.region_names.headerClasses, type: "simple" %}</pre>
            <strong class="text-muted">Default classes:</strong> <pre class="mb-0 text-muted">{{ component.defaultHeaderClasses }}</pre>
          </small>
          {% comment %}<!-- This is just a label for the editable region that follows in order to make it clear to content editors what the region is for (in case they delete content and forget). -->{% endcomment %}
          {% if edit_mode %}<span class="d-inline-block badge badge-primary mb-1">Header</span>{% endif %}
        {% endif %}
        {% comment %}<!-- For the h1, apply an ID that will tell screanreaders to use this element as the label for the section. Also apply classes to the header. If supplied by user, use those. If not use default. -->{% endcomment %}
        <h1 id="{{ component.name }}-label" itemprop="headline" class="{{ page.content[component.region_names.headerClasses] | default: component.defaultHeaderClasses }}">
          {{ article.name }}
        </h1>
        {% comment %}<!-- This is just a label for the editable region that follows in order to make it clear to content editors what the region is for (in case they delete content and forget). -->{% endcomment %}
        {% if edit_mode %}<span class="d-inline-block badge badge-primary mb-1">Subhead</span>{% endif %}
        {% editable_region_block name: component.region_names.subhead, scope: component.scope %}<p class="helvetica-neue-bold h2">Subhead goes here.</p>{% endeditable_region_block %}
        <p>
          {% if article.data.blog_article_hide_author != '1' %}
            <span itemprop="author" itemscope="" itemtype="http://schema.org/Person">
              <span itemprop="name">
                {{ article.author.full_name }} |
              </span> {% comment %}<!-- /.wvu-article__author -->{% endcomment %}
            </span> {% comment %}<!-- /itemprop="author" -->{% endcomment %}
          {% endif %}
          <time datetime="{{ article.published_at | date_iso8601 }}">{{ article.published_at | date: '%A, %B %d, %Y' | default: 'Not yet published' }}</time>
        </p> {% comment %}<!-- /.wvu-article__meta -->{% endcomment %}
      </div>
    </div>
  </div>
{% endcapture %}

{% render "utilities/wvu-component-tag" component: component, content: component_content %}
{% render "includes/wvu-component-footer" component: component %}
