<!-- Markup -->
<div class="wvu-masthead {% if site.data.masthead_color != 'gold' %}bg-wvu-blue{% else %}bg-wvu-gold{% endif %}">
  <div class="container">
    <div class="row">
      <div class="align-self-center col">
        {% capture link_text_color %}{% if site.data.masthead_color != 'gold' %}text-white{% else %}text-wvu-blue {% endif %}{% endcapture %}
        {% capture lockup_span_color %}{% if site.data.masthead_color == 'gold' %}wvu-logo-lockup--blue{% endif %}{% endcapture %}
        {% capture span_border %}{% if site.data.masthead_color != 'gold' %}border-white{% else %}border-wvu-blue {% endif %}{% endcapture %}

        {% comment %}<!-- If we have an alternate logo but no co-brand, just display the logo. If both, display lockup and alternate logo as the co-brand. -->{% endcomment %}
        {% if site.data.has_alternate_logo != blank %}
          {% if site.data.has_co_brand == blank %}
            <a class="d-block position-relative my-3 text-decoration-none" href="/">
              <span class="sr-only">West Virginia University </span>
              <img src="https://{{ site.domain }}{{ site.data.has_alternate_logo }}" alt="{{ site.name }}" />
            </a>
          {% else %}
            <a class="d-flex position-relative my-3 align-items-center justify-content-center justify-content-lg-start text-decoration-none {{ link_text_color }}" href="/">
              <span class="sr-only">West Virginia University </span>
              <span class="wvu-logo-lockup mt-n1 {{ lockup_span_color }}">
                {{ site.data.masthead_title | default: site.name }}
              </span>
              {% if site.data.has_co_brand == '1' %}
                <span class="wvu-co-branding d-inline-block align-self-center mx-2 p-2 border-left {{ span_border }}">
                  {% if site.data.has_alternate_logo != blank %}
                    <img src="https://{{ site.domain }}{{ site.data.has_alternate_logo }}" alt="{{ site.name }}" />
                  {% endif %}
                  {% if site.data.co_brand_subtitle != blank %}
                    <span class="d-block helvetica-neue-light small">{{ site.data.co_brand_subtitle }}</span>
                  {% endif %}
                </span>
              {% endif %}
            </a>
          {% endif %}
        {% else %}
          <a class="d-flex position-relative my-3 align-items-center justify-content-center justify-content-lg-start text-decoration-none {{ link_text_color }}" href="/">
            <span class="sr-only">West Virginia University </span>
            <span class="wvu-logo-lockup mt-n1 {{ lockup_span_color }}">
              {{ site.data.masthead_title | default: site.name }}
            </span>
            {% if site.data.has_co_brand != blank %}
              <span class="wvu-co-branding d-inline-block align-self-center mx-2 p-2 border-left {{ span_border }}">
                {% if site.data.has_alternate_logo != blank %}
                  <img src="https://{{ site.domain }}{{ site.data.has_alternate_logo }}" alt="Logo: {{ site.name }}" />
                {% else %}
                  {{ site.data.has_co_brand }}
                {% endif %}
                {% if site.data.co_brand_subtitle != blank %}
                  <span class="d-block helvetica-neue-light small">{{ site.data.co_brand_subtitle }}</span>
                {% endif %}
              </span>
            {% endif %}
          </a>
        {% endif %}
      </div>
      <div class="col-12 col-lg-4 justify-content-md-end d-flex mb-lg-0">
        <div class="container">
          {% if site.data.masthead_college_link_title != blank %}
            <div class="row justify-content-center justify-content-lg-start mb-2">
              <span class="{% if site.data.masthead_color != 'gold' %}bg-wvu-gold{% else %}bg-wvu-blue{% endif %} px-2 py-1 align-self-top small"><a href="{{ site.data.masthead_college_link_address }}" class="text-decoration-none {% if site.data.masthead_color != 'gold' %}text-wvu-blue {% else %}text-white {% endif %}">{{ site.data.masthead_college_link_title }}</a></span>
            </div>
          {% endif %}
          <div class="row align-content-center justify-content-center justify-content-lg-start{% if site.data.masthead_college_link_title == blank %} h-100 justify-content-lg-end{% endif %}">
            {% if site.data.masthead_color != 'gold' %}
              {% if site.data.apply_link_1 != blank %}
                <a href="{{ site.data.apply_link_1_url }}" class="mb-3 mb-lg-0 align-self-center btn mb-1 btn-outline-wvu-accent--light-blue mr-1">{{ site.data.apply_link_1 }}</a>
              {% endif %}
              {% if site.data.apply_link_2 != blank %}
                <a href="{{ site.data.apply_link_2_url }}" class="mb-3 mb-lg-0 align-self-center btn mb-1 btn-outline-wvu-accent--orange mr-1">{{ site.data.apply_link_2 }}</a>
              {% endif %}
              {% if site.data.apply_link_3 != blank %}
                <a href="{{ site.data.apply_link_3_url }}" class="mb-3 mb-lg-0 align-self-center btn mb-1 btn-outline-wvu-gold">{{ site.data.apply_link_3 }}</a>
              {% endif %}
            {% else %}
              {% if site.data.apply_link_1 != blank %}
                <a href="{{ site.data.apply_link_1_url }}" class="mb-3 mb-lg-0 align-self-center btn mb-1 btn-wvu-blue mr-1">{{ site.data.apply_link_1 }}</a>
              {% endif %}
              {% if site.data.apply_link_2 != blank %}
                <a href="{{ site.data.apply_link_2_url }}" class="mb-3 mb-lg-0 align-self-center btn mb-1 btn-wvu-accent--red mr-1">{{ site.data.apply_link_2 }}</a>
              {% endif %}
              {% if site.data.apply_link_3 != blank %}
                <a href="{{ site.data.apply_link_3_url }}" class="mb-3 mb-lg-0 align-self-center btn mb-1 btn-wvu-accent--dark-green">{{ site.data.apply_link_3 }}</a>
              {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End markup -->
