{% define_component component %}
  {
    "baseName": "contact-info",
    "needsARIALabel": true,
    "defaultComponentClasses": "",
    "mainTagClasses": null
  }
{% enddefine_component %}

{%- liquid
  assign addressEditableRegionName = component.baseName | prepend: 'wvu-' | append: '-' | append: component.number | append: '__address'
  assign phoneEditableRegionName = component.baseName | prepend: 'wvu-' | append: '-' | append: component.number | append: '__phone'
  assign formEditableRegionName = component.baseName | prepend: 'wvu-' | append: '-' | append: '__form'
-%}

{% capture component_content %}
  <div class="container wvu-z-index-content py-5">
    <div class="row">
      <div class="col-md-6">
        {% comment %}<!-- This is just a label for the editable region that follows in order to make it clear to content editors what the region is for (in case they delete content and forget). -->{% endcomment %}
        {% if edit_mode %}<span class="d-inline-block badge badge-primary mb-1">Header</span>{% endif %}
        {% editable_region_block name: component.region_names.header scope: component.scope %}
          <p class="helvetica-neue-light h2 mb-3 pr-md-3">We just need to put these last issues to bed.</p>
        {% endeditable_region_block %}
        {% comment %}<!-- This is just a label for the editable region that follows in order to make it clear to content editors what the region is for (in case they delete content and forget). -->{% endcomment %}
        {% if edit_mode %}<span class="d-inline-block badge badge-primary mb-1">Address</span>{% endif %}
        {% editable_region_block name: addressEditableRegionName scope: component.scope %}
          <h2 class="h5 iowan-old-style-black">
            <span class="fas fa-map-marker-alt position-absolute"></span>
            <span class="pl-3 d-block">Find us at the office</span>
          </h2>
          <address class="pl-3">
            <small class="d-block">
              <strong>West Virginia University</strong>
              <br> 1345 Market St, Suite 900
              <br> Morgantown, WV 26505
              <br>
            </small>
          </address>
        {% endeditable_region_block %}
        {% comment %}<!-- This is just a label for the editable region that follows in order to make it clear to content editors what the region is for (in case they delete content and forget). -->{% endcomment %}
        {% if edit_mode %}<span class="d-inline-block badge badge-primary mb-1">Phone</span>{% endif %}
        {% editable_region_block name: phoneEditableRegionName scope: component.scope %}
          <h2 class="h5 iowan-old-style-black mt-3">
            <span class="fas fa-phone position-absolute"></span>
            <span class="pl-3 d-block">By phone or email</span>
          </h2>
          <address class="pl-3">
            <small class="d-block">
              <strong>West Virginia University</strong>
              <br> 1345 Market St, Suite 900
              <br> Morgantown, WV 26505
              <br>
            </small>
          </address>
        {% endeditable_region_block %}
      </div>
      <div class="col-md-6 bg-white text-wvu-neutral--black shadow-lg">
        {% comment %}<!-- This is just a label for the editable region that follows in order to make it clear to content editors what the region is for (in case they delete content and forget). -->{% endcomment %}
        {% if edit_mode %}<span class="d-inline-block badge badge-primary mb-1">Form</span>{% endif %}
        {% editable_region_block name: formEditableRegionName scope: component.scope %}

          <form class="px-3 py-4">
            <h2>Or fill out our form.</h2>
            <div class="form-group">
              <label id="username-label" for="exampleFormControlInput1">Username</label>
              <input aria-labelledby="username-label" type="text" class="form-control" id="exampleFormControlInput1"
              placeholder="name@example.com" autocomplete="off" style="background-image: url(&quot;&quot;); cursor: auto;"
              data:image="" background-repeat:="" no-repeat="" background-attachment:="" scroll=""
              background-size:="" background-position:="">
            </div>
            <div class="form-group">
              <label id="password-label" for="exampleFormControlInput1">Password</label>
              <input aria-labelledby="password-label" type="password" class="form-control" id="exampleFormControlInput2"
              placeholder="••••••••" autocomplete="off" style="background-image: url(&quot;&quot;); cursor: auto;"
              data:image="" background-repeat:="" no-repeat="" background-attachment:="" scroll=""
              background-size:="" background-position:="" cursor:="" auto="">
            </div>
            <button type="submit" class="btn btn-primary">Log In</button>
            <p class="mt-2 small">
              <a href="#">Forgot password?</a>
            </p>
          </form>
        {% endeditable_region_block %}
      </div>
    </div>
  </div>
{% endcapture %}

{% render "utilities/wvu-component-tag" component: component, content: component_content %}

{% comment %}<!-- Pull in partial that contains the component styler. This lets the user add classes to the component using the CleanSlate editor. -->{% endcomment %}
{% render "includes/wvu-component-footer" component: component %}
