<r:comment><!-- For a detailed look at the concepts behind a shared partial, see https://designsystem.sandbox.wvu.edu/tutorials/the-anatomy-of-a-shared-partial. --></r:comment>

<r:comment><!-- Define a base name for this component. We can use this later to dynamically create editable region names --></r:comment>
<r:set_var name="baseComponentName" value="photo-gallery" />

<r:comment><!-- Pull in component name, instance number, scope, limit, featurettes style, etc. that determine how the component will function. This also defines editable region names for component classes, featurettes classes, etc. --></r:comment>
<r:partial name="includes/wvu-component-variables" theme="University Relations: WVU Design System" />

<r:comment><!-- Define editable region names using our component name (base component name + instance number) within namespaced labels. --></r:comment>
<r:set_var name="componentHeader">wvu-<r:var name="componentName" />__header</r:set_var>
<r:set_var name="componentPostscript">wvu-<r:var name="componentName" />__postscript</r:set_var>
<r:set_var name="headerClasses">wvu-<r:var name="componentName" />-header-classes</r:set_var>

<r:comment><!-- Utility classes assigned to this components’s stylable elements by default if the content editor does not apply her own. --></r:comment>
<r:content_for name="{$defaultComponentClasses}">py-5</r:content_for>
<r:content_for name="{$defaultHeaderClasses}">mb-4</r:content_for>

<r:comment><!-- Components do not display on live sites unless set to “Is active” in the slot’s custom data. But we need to make the component active no matter what in Edit Mode so the user can test it. You can see the “if” statement in the component’s outer HTML container that checks. --></r:comment>
<r:edit_mode_only>
  <r:set_var name="componentIsEditModeOnly" value="0" />
</r:edit_mode_only>

<r:comment><!-- Add an openin markup tag. This is used by the demo site to auto-generate code that the user can copy into their own theme. --></r:comment>
<r:comment><!-- This component’s outer container also contains utilities for evaluating whether the component should get a section or a main tag, what classes to apply to the outer container, and a background styler, defined by uploading an image and labeling it with the page slug and component name. --></r:comment>
<!-- Markup --><<r:partial name="utilities/wvu-is-main-checker" theme="University Relations: WVU Design System" /> <r:if v1="{$componentIsMain}" v2="1" op="=">id="wvu-main-content"</r:if> aria-labelledby="<r:var name="componentName" />-label" class="<r:if v1="{$componentIsEditModeOnly}" v2="1" op="=">d-none </r:if>wvu-gallery <r:partial name="utilities/wvu-component-classes-checker" theme="University Relations: WVU Design System" />" <r:partial name="utilities/wvu-bg-styler" theme="University Relations: WVU Design System" />>
<r:comment><!-- Ignore the following section. --></r:comment>
  <div class="container wvu-z-index-content">
    <r:page:if_has_content_for region="{$componentHeader}" always_show_in_edit_mode="true">
      <div class="wvu-z-index-content mb-4">
        <r:comment><!-- This is just a label for the editable region that follows in order to make it clear to content editors what the region is for (in case they delete content and forget). --></r:comment>
        <r:edit_mode_only><span class="d-inline-block badge badge-primary mb-1">Header</span></r:edit_mode_only>
        <r:editable_region name="{$componentHeader}" scope="{$componentScope}">
          <h2 id="<r:var name="componentName" />-label" class="display-3 wvu-shout">Featurettes Headline</h2>
          <p class="h3 helvetica-neue-light">Subhead goes here.</p>
        </r:editable_region>
      </div>
    </r:page:if_has_content_for>
    <div class="row photos">
      <r:set_var name="gallerypage">
        <r:page:slug />-gallery-<r:var name="componentInstance" />
      </r:set_var>
      <r:files:each labels="{$gallerypage}" types="image" by="{$componentGalleryLoopBy}" order="{$componentLoopOrder}">
        <div class="col-md-4 col-lg-3 mb-3">
          <a href="<r:file:image_url size="960x640" />" title="<r:file:description />"><r:file:image_tag size="480x320" alt="{file:alt_text}" /></a>
        </div>
      </r:files:each>
    </div>
  </div>
<r:comment><!-- A utility to decide whether to add a closing main or section tag. --></r:comment>
</<r:partial name="utilities/wvu-is-main-checker" theme="University Relations: WVU Design System" />><!-- End markup -->

<r:comment><!-- Pull in partial that contains the component styler. This lets the user add classes to the component using the CleanSlate editor. --></r:comment>
<r:partial name="includes/wvu-component-footer" theme="University Relations: WVU Design System" />

<r:content_for name="page_js">
  <r:include_javascript name="vendor/jquery.magnific-popup" />

  <script type="text/javascript">

  	$(document).ready(function() {
  		$('.photos').magnificPopup({
  		  delegate: 'a', // child items selector, by clicking on it popup will open
  		  type: 'image',
  		  gallery: {
  		    enabled: true, // set to true to enable gallery

  		    preload: [0,2], // read about this option in next Lazy-loading section

  		    navigateByImgClick: true,

  		    arrowMarkup: '<button title="%title%" type="button" class="mfp-arrow mfp-arrow-%dir%"></button>', // markup of an arrow button

  		    tPrev: 'Previous (Left arrow key)', // title for left button
  		    tNext: 'Next (Right arrow key)', // title for right button
  		    tCounter: '<span class="mfp-counter">%curr% of %total%</span>' // markup of counter
  		  }
  		  // other options
  		});
  	});

  </script>
</r:content_for>
