<!-- Component: blog-index -->
{%- define_component component %}
  {
    "baseName": "blog-index",
    "defaultComponentClasses": null,
    "defaultHeaderClasses": null,
    "mainTagClasses": "py-5"
  }
{%- enddefine_component %}

{% capture component_content %}
  <div class="container wvu-z-index-content">

    {% if edit_mode or page.content[component.region_names.main] != blank %}
      <div class="mb-4">
        {% if edit_mode %}<span class="d-inline-block badge badge-primary mb-1">Intro</span>{% endif %}
        {% editable_region_block name: component.region_names.main %}<p class="lead">Intro text.</p>{% endeditable_region_block %}
      </div>
    {% endif %}

    <div class="row">
      <div class="col-md-8 mr-md-auto">
        {%- assign articles = blog.articles | filter_articles: page: params.page, limit: component.limit, tags: params.tags, tags_match: params.tags_match, year: params.year, month: params.month, day: params.day %}

        {% assign blogIsHidden = page.data.blog_index_hide_author %}

        {% if articles.size > 0 %}
          {% capture article_list_content %}
            {% for article in articles.all %}
              <article class="mb-4" itemscope="" itemtype="http://schema.org/BlogPosting">
                <div class="row">
                  {% assign itemThumbnailSrc = article.data.thumbnail_url | build_image_url: format: '960x640.jpg' %}
                  {% if itemThumbnailSrc != blank %}
                    <div class="col-md-3">
                      <a aria-hidden="true" tabindex="-1" href="{{ article.url }}"><img src="{{ itemThumbnailSrc }}" alt="{{ article.data.thumbnail_alt }}" /></a>
                    </div>
                  {% endif %}
                  <div class="col-md-9{% if article.data.thumbnail_url != blank %} mt-3 mt-md-0{% else %} ml-md-auto{% endif %}">
                    <strong><h2 itemprop="headline"><a class="newsletter-link" href="{{ article.url }}">{{ article.name }}</a></h2></strong>

                    <p class="small d-block">
                      {% if blogIsHidden != '1' %}
                        {{ article.author.full_name }} |
                      {% endif %}
                      <time itemprop="datePublished" datetime="{{ article.published_at | date_iso8601 }}">{{ article.published_at | date: '%A, %B %d, %Y' | default: 'Not yet published' }}</time>
                    </p> <!-- /.wvu-article__meta -->

                    <div class="mb-2" itemprop="articleBody">
                      {{ article.content['wvu-blog-article-1__main'] | select_html: css_selector: 'p', limit: 1 }}
                    </div> <!-- /.wvu-article__body -->
                    <p><a class="btn btn-primary" href="{{ article.url }}">Read More<span class="sr-only">: {{ article.name }}</span></a></p>
                  </div>
                </div>
              </article> <!-- /.wvu-article -->
            {% endfor %}
          {% endcapture %}

          <div class="wvu-articles">
            {{ article_list_content }}
          </div> <!-- /.wvu-articles -->

          {% assign pagination = articles | blog_pagination %}
          {% if pagination.total_pages > 1 %}
            <nav aria-label="Blog Pagination">
              <ul class="pagination">
                <li class="page-item{% if pagination.is_last_page %} disabled{% endif %}">
                  <a href="{{ pagination.next_page_url }}" class="page-link">Older Articles</a>
                </li>
                <li class="page-item  disabled">
                  <a href="{{ pagination.prev_page_url }}" class="page-link">Newer Articles</a>
                </li>
              </ul>
            </nav>
          {% endif %}
        {% else %}
          <p>No blog posts found. Try again later, perhaps?</p>
        {% endif %}
      </div>

      {% render "components/wvu-sidebar" component: component %}
    </div>
  </div> <!-- /.container -->
{% endcapture %}

{% render "utilities/wvu-component-tag" component: component, content: component_content %}
{% render "includes/wvu-component-footer" component: component %}
