<!-- Component: wvu-featurettes -->
{%- define_component component %}
  {
    "baseName": "directory",
    "defaultComponentClasses": "",
    "mainTagClasses": null
  }
{%- enddefine_component %}

{%- liquid
  assign root = site.root_page
  assign items = root.descendants | filter_pages: by: component.loopBy, sort: component.loopOrder, tags: component.itemLabels, tags_match: component.loopLabelsMatch, hidden: component.showHidden, random: component.random, limit: component.limit
-%}

{% capture component_content %}
  <div class="container py-5">
    {%- if edit_mode or page.content[component.region_names.header] != blank %}
      <div class="wvu-z-index-content">
        {% comment %}<!-- This is just a label for the editable region that follows in order to make it clear to content editors what the region is for (in case they delete content and forget). -->{% endcomment %}
        {% if edit_mode %}<span class="d-inline-block badge badge-primary mb-1">Header</span>{% endif %}
        {% comment %}<!-- For the h2, apply an ID that will tell screanreaders to use this element as the label for the section. Also apply classes to the header. If supplied by user, use those. If not use default. -->{% endcomment %}
        {% editable_region_block name: component.region_names.header scope: component.scope %}
          <h2 id="featurettes-*-label" class="display-3 wvu-shout">Directory Headline</h2>
          <p class="h3 helvetica-neue-light mb-4">Subhead goes here.</p>
        {% endeditable_region_block %}
      </div>
    {%- endif %}

    <div class="table-responsive-md">
      <table class="table">
        <tbody>
          {% for item in items.all %}
            <tr class="border-bottom border-light">
              <td class="py-2 w-25">
                <div class="row">
                  <div class="col-4">
                    {% if item.data.thumbnail_url_sq != blank %}
                      <img class="rounded-circle shadow d-inline-block" src="{{ item.data.thumbnail_url_sq }}" alt="{{ item.data.thumbnail_url_sq }}" />
                    {% endif %}
                  </div>
                  <div class="col-8 align-self-center">
                    <strong class="d-block">{{ item.alternate_name | default: item.name }}</strong>
                    {%- if item.content['wvu-backpage-header-1__subhead'] != blank %}
                      <small class="helvetica-neue-light d-block">{{ item.content['wvu-backpage-header-1__subhead'] }}</small>
                    {%- endif %}
                  </div>
                </div>
              </td>
              <td class="align-middle">
                {%- if item.content['wvu-profile-1__phone'] != blank %}
                  <span class="fas fa-phone"></span> <a href="tel:{{ item.content['wvu-profile-1__phone'] }}">{{ item.content['wvu-profile-1__phone'] }}</a>
                {%- endif %}
              </td>
              <td class="align-middle">
                {%- if item.content['wvu-profile-1__email'] != blank %}
                  <span class="fas fa-envelope"></span> <a href="mailto:{{ page.content['wvu-profile-1__email'] }}"> {{ item.content['wvu-profile-1__email'] }}</a>
                {%- endif %}
              </td>
              <td class="align-middle">
                {%- if item.content['wvu-profile-1__office'] != blank %}
                  <span class="fas fa-building"></span> {%- if item.content['wvu-profile-1__office-url'] != blank %} <a href="{{ item.content['wvu-profile-1__office-url'] }}">{{ item.content['wvu-profile-1__office'] }}</a>{% else %} {{ item.content['wvu-profile-1__office'] }}{%- endif %}
                {%- endif %}
              </td>
              <td class="align-middle">
                <span class="fas fa-user-circle"></span> <a href="{{ link_href }}">Profile<span class="sr-only">: {{ page.name }}</span></a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  </div>
{% endcapture %}

{% render "utilities/wvu-component-tag" component: component, content: component_content %}
{% render "includes/wvu-component-footer" component: component %}
