<!-- Component: wvu-lede-text -->
{%- define_component component %}
  {
    "baseName": "lede-text",
    "needsARIALabel": true,
    "defaultComponentClasses": "bg-light",
    "defaultHeaderClasses": "helvetica-neue-light text-center h3 mb-0",
    "mainTagClasses": null
  }
{%- enddefine_component %}

{% capture component_content %}
  <div class="container py-5">
    <div class="row">
      <div class="col-md-8 mx-md-auto wvu-z-index-content">
        {% if edit_mode %}
          <small class="wvu-z-index-content d-block mb-2 text-left text-muted p-1 bg-wvu-neutral--dark-gray">Lede text classes:
            <pre class="mb-0 text-white">{% editable_region name: component.region_names.headerClasses, type: "simple" %}</pre>
            <strong class="text-muted">Default classes:</strong> <pre class="mb-0 text-muted">{{ component.defaultHeaderClasses }}</pre>
          </small>
          {% comment %}<!-- This is just a label for the editable region that follows in order to make it clear to content editors what the region is for (in case they delete content and forget). -->{% endcomment %}
          <span class="d-inline-block badge badge-primary mb-1">Lede Text</span>
        {% endif %}
        <p class="mb-0 {{ page.content[component.region_names.headerClasses] | default: component.defaultHeaderClasses }}">
          {% comment %}<!-- Editable region for main content. -->{% endcomment %}
          {% editable_region name: component.region_names.main, scope: component.scope, type: "simple", placeholder: 'Feature creep. No scraps hit the floor those options are already baked in with this model strategic high-level 30,000 ft view so baseline the procedure and samepage your department, for quick-win so customer centric.' %}
        </p>
      </div>
    </div>
  </div>
{% endcapture %}

{% render "utilities/wvu-component-tag" component: component, content: component_content %}
{% render "includes/wvu-component-footer" component: component %}
