<!-- Component: wvu-featurettes -->
{%- define_component component %}
  {
    "baseName": "event-agenda",
    "defaultComponentClasses": "",
    "mainTagClasses": null
  }
{%- enddefine_component %}

{%- liquid
  assign root = site.root_page
  assign items = root.descendants | filter_pages: by: component.loopBy, sort: component.loopOrder, tags: component.itemLabels, tags_match: component.loopLabelsMatch, hidden: component.showHidden, random: component.random, limit: component.limit
-%}

{% capture component_content %}
  <div class="container py-5">

    <div class="table-responsive-md mt-4">
      {% assign directoryParent = site | get_page: component.featurettesID %}
      {% for page in directoryParent.children.all %}
        <h2 class="h3 text-center helvetica-neue-light">{{ page.alternate_name | default: page.name }}</h2>
        <table class="table">
          <tbody>
            {% for directoryChildren in page.children.all %}
              <tr>
                <td class="w-50 text-right iowan-old-style-italic">
                  {{ directoryChildren.content['wvu-agenda-item__time'] }}
                </td>
                <td class="w-50">
                  {{ directoryChildren.content['wvu-agenda-item__main'] }}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        {% endfor %}
      </table>
    </div>

  </div>
{% endcapture %}

{% render "utilities/wvu-component-tag" component: component, content: component_content %}
{% render "includes/wvu-component-footer" component: component %}
