<r:comment><!-- For a detailed look at the concepts behind a shared partial, see https://designsystem.sandbox.wvu.edu/tutorials/the-anatomy-of-a-shared-partial. --></r:comment>

<r:comment><!-- Define a base name for this component. We can use this later to dynamically create editable region names --></r:comment>
<r:set_var name="baseComponentName" value="backpage-header" />

<r:comment><!-- Pull in component name, instance number, scope, limit, featurettes style, etc. that determine how the component will function. This also defines editable region names for component classes, featurettes classes, etc. --></r:comment>
<r:partial name="includes/wvu-component-variables" theme="University Relations: WVU Design System" />

<r:comment><!-- Name of editable region where user can enter classes that will apply to the component’t outer container. --></r:comment>
<r:set_var name="componentClasses">
  wvu-backpage-header-1-classes
</r:set_var>

<r:comment><!-- Name of editable region containing classes that get applied to a component’s outer container if no “component classes” are provided by the content editor. --></r:comment>
<r:set_var name="defaultComponentClasses">
  wvu-backpage-header-1-default-component-classes
</r:set_var>

<r:comment><!-- Define editable region names using our component name (base component name + instance number) within namespaced labels. --></r:comment>
<r:set_var name="componentHeader">wvu-backpage-header-1__header</r:set_var>
<r:set_var name="componentHeaderLabel">wvu-backpage-header-1__label</r:set_var>
<r:set_var name="componentSubhead">wvu-backpage-header-1__subhead</r:set_var>
<r:set_var name="headerClasses">wvu-backpage-header-1-header-classes</r:set_var>
<r:set_var name="subheadClasses">wvu-backpage-header-1-subhead-classes</r:set_var>

<r:comment><!-- Utility classes assigned to this components’s stylable elements by default if the content editor does not apply her own. --></r:comment>
<r:content_for name="{$defaultComponentClasses}">pb-3 bg-wvu-neutral--dark-gray text-white wvu-bg-vignetting wvu-bg-blend-mode-luminosity--80 wvu-background-position-center</r:content_for>
<r:content_for name="{$defaultSubheadClasses}">lead mb-0 mt-1</r:content_for>

<r:if expr="{{ NOT(BLANK(classes_wvu_backpage_header__h1)) }}">
  <r:content_for name="{$defaultHeaderClasses}"><r:site:data name="classes_wvu_backpage_header__h1" /></r:content_for>
</r:if>
<r:if expr="{{ BLANK(classes_wvu_backpage_header__h1) }}">
  <r:content_for name="{$defaultHeaderClasses}">display-4 helvetica-neue-bold mb-0</r:content_for>
</r:if>

<r:set_var name="bgurl">
  <r:page:slug />-backpage-header-1-background
</r:set_var>

<r:comment><!-- Add an openin markup tag. This is used by the demo site to auto-generate code that the user can copy into their own theme. --></r:comment>
<r:comment><!-- This component’s outer container also contains utilities for evaluating whether the component should get a section or a main tag, what classes to apply to the outer container, and a background styler, defined by uploading an image and labeling it with the page slug and component name. --></r:comment>
<!-- Markup --><div class="wvu-overflow-hidden pt-5 <r:partial name="utilities/wvu-component-classes-checker" theme="University Relations: WVU Design System" />" style="<r:files:each labels="backpage-header-background" limit="1" types="image" random="true">background-image: url(<r:file:image_url size="1780x580" />);<r:set_var name="bgalt"><r:file:alt_text /></r:set_var></r:files:each> <r:files:each labels="{$bgurl}" labels_match="all" limit="1" types="image" random="true">background-image: url(<r:file:image_url size="1780x1780" /><r:set_var name="bgalt"><r:file:alt_text /></r:set_var>)"</r:files:each>">
  <div class="container position-relative wvu-z-index-content">
    <r:if v1="{$header_label}" v2="1" op="=">
      <p class="text-uppercase helvetica-neue-light mb-1">
        <r:comment><!-- This is just a label for the editable region that follows in order to make it clear to content editors what the region is for (in case they delete content and forget). --></r:comment>
        <r:edit_mode_only><span class="d-inline-block badge badge-primary mb-1">Label</span></r:edit_mode_only>
        <r:editable_region name="{$componentHeaderLabel}" scope="{$componentScope}"><span class="wvu-shout text-wvu-gold text-uppercase">Label pre</span> <span class="text-uppercase">Label Post</span></r:editable_region>
      </p>
    </r:if>
    <r:comment><!-- This is where you can add utility classes that will apply to the heading. --></r:comment>
    <r:edit_mode_only>
      <small class="wvu-z-index-content d-block mb-2 text-left text-muted p-1 bg-wvu-neutral--dark-gray">Header classes:
        <pre class="mb-0 text-white"><r:editable_region name="{$headerClasses}" type="simple" /></pre>
        <strong class="text-muted">Default classes:</strong> <pre class="mb-0 text-muted"><r:yield name="{$defaultHeaderClasses}"><r:content /></r:yield></pre>
      </small>
    </r:edit_mode_only>
    <r:comment><!-- Apply classes to the header. If supplied by user, use those. If not use default. --></r:comment>
    <h1 id="backpage-header-1-label" class="<r:page:if_has_content_for region="{$headerClasses}"><r:page:content name="{$headerClasses}" /></r:page:if_has_content_for><r:page:unless_has_content_for region="{$headerClasses}"><r:if expr="{{ NOT(BLANK(classes_wvu_backpage_header__h1)) }}"><r:site:data name="classes_wvu_backpage_header__h1" /></r:if><r:if expr="{{ BLANK(classes_wvu_backpage_header__h1) }}"><r:yield name="{$defaultHeaderClasses}" /></r:if></r:page:unless_has_content_for>"><r:page:first_non_blank_attr names="alternate_name, name" /></h1>
    <r:comment><!-- If user has toggled the “Header has subhead?” option in their page data, display a subhead region. --></r:comment>
    <r:if v1="{$header_subhead}" v2="1" op="=">
      <div class="row">
        <div class="col-md-8">
          <r:comment><!-- This is where you can add utility classes that will apply to the subhead. --></r:comment>
          <r:edit_mode_only>
            <small class="wvu-z-index-content d-block mb-2 text-left text-muted p-1 bg-wvu-neutral--dark-gray">Header classes:
              <pre class="mb-0 text-white"><r:editable_region name="{$subheadClasses}" type="simple" /></pre>
              <strong class="text-muted">Default classes:</strong> <pre class="mb-0 text-muted"><r:yield name="{$defaultSubheadClasses}"><r:content /></r:yield></pre>
            </small>
            <r:comment><!-- This is just a label for the editable region that follows in order to make it clear to content editors what the region is for (in case they delete content and forget). --></r:comment>
            <r:edit_mode_only><span class="d-inline-block badge badge-primary mb-1">Subhead / Title</span></r:edit_mode_only>
          </r:edit_mode_only>
          <p class="<r:page:if_has_content_for region="{$subheadClasses}"><r:page:content name="{$subheadClasses}" /></r:page:if_has_content_for><r:page:unless_has_content_for region="{$subheadClasses}"><r:yield name="{$defaultSubheadClasses}"><r:content /></r:yield></r:page:unless_has_content_for>">
            <r:editable_region name="{$componentSubhead}" scope="{$componentScope}" type="simple">Subhead goes here.</r:editable_region>
          </p>
        </div>
      </div>
    </r:if>
  </div>
</div><!-- End markup -->

<r:comment><!-- Pull in partial that contains the component styler. This lets the user add classes to the component using the CleanSlate editor. --></r:comment>
<r:partial name="includes/wvu-component-footer" theme="University Relations: WVU Design System" />
