<!-- Component: full-bleed-photo -->
{%- define_component component %}
  {
    "baseName": "full-bleed-photo",
    "needsARIALabel": true,
    "defaultComponentClasses": "my-4",
    "defaultHeaderClasses": "",
    "mainTagClasses": "",
    "defaultCaptionClasses": "d-block wvu-p-max-width"
  }
{% enddefine_component %}

{% comment %}<!-- Define editable region names using our component name (base component name + instance number) within namespaced labels. -->{% endcomment %}
{%- liquid
  assign captionRegion = 'wvu-CNAME__caption' | replace: 'CNAME', component.name
  assign captionClassesRegion = 'wvu-CNAME-caption-classes' | replace: 'CNAME', component.name
%}

{% capture component_content %}
  <figure>
    {% if edit_mode %}<span class="d-inline-block badge badge-primary mb-1">Image</span>{% endif %}
    {% editable_region_block name: component.region_names.main %}
      <img src="https://designsystem.sandbox.wvu.edu/files/7f5da73f-36df-4693-a2c8-f01398b3adbd/1720x1720" alt="Cheerleaders waving a flag">
    {% endeditable_region_block %}
  </figure>
  {% if edit_mode or page.content[captionRegion] != blank %}
    <figcaption class="container">
      {% if edit_mode %}
        <small class="wvu-z-index-content d-block mb-2 text-left text-muted p-1 bg-wvu-neutral--dark-gray">Caption classes:
          <pre class="mb-0 text-white">{% editable_region name: captionClassesRegion, type: "simple" %}</pre>
          <strong class="text-muted">Default caption classes:</strong> <pre class="mb-0 text-muted">{{ component.defaultCaptionClasses }}</pre>
        </small>
      {% endif %}
      {% if edit_mode %}<span class="d-inline-block badge badge-primary mb-1">Caption</span>{% endif %}
      {% assign klass = page.content[captionClassesRegion] | default: component.defaultCaptionClasses %}
      <p class="{{ klass }} small">
        {% editable_region_block name: captionRegion %}
          After I ran into Helen at a restaurant, I realized she was just office pretty
          we’re starting to formalize flexible opinions around our foundations let's
          prioritize the low-hanging fruit and minimize backwards overflow out of scope,
          but time vampire and knowledge process outsourcing.
        {% endeditable_region_block %}
      </p>
    </figcaption>
  {% endif %}
{% endcapture %}

{% render "utilities/wvu-component-tag" component: component, content: component_content %}
{% render "includes/wvu-component-footer" component: component %}
