<!-- Markup -->
<div class="wvu-masthead<r:if v1="{$masthead_color}" v2="gold" op="!="> bg-wvu-blue</r:if><r:if v1="{$masthead_color}" v2="gold" op="="> bg-wvu-gold</r:if>">
  <div class="container">
    <div class="row">
      <div class="align-self-center col">
        <r:comment><!-- Ignore the following section. It is used for the WVU Design System documentation site. --></r:comment>
        <r:if v1="{page:template:name}" v2="component-examples" op="=">
          <r:comment><!-- If we have an alternate logo but no co-brand, just display the logo. If both, display lockup and alternate logo as the co-brand. --></r:comment>
          <r:page:if_has_content_for region="{$itemAlternateLogo}">
            <r:page:unless_has_content_for region="{$itemHasCoBrand}">
              <a class="d-block position-relative my-3 text-center text-lg-left text-decoration-none" href="/">
                <div class="sr-only">Unit Name</div>
                <img alt="WVU 150 Years logo lockup" src="https://designsystem.sandbox.wvu.edu/files/d489a7df-0da5-4640-9d26-cdfdeeaf0e00/960x960">
              </a>
            </r:page:unless_has_content_for>
            <r:page:if_has_content_for region="{$itemHasCoBrand}">
              <a class="d-flex position-relative my-3 align-items-center justify-content-center justify-content-lg-start text-decoration-none<r:if v1="{$masthead_color}" v2="gold" op="!="> text-white</r:if><r:if v1="{$masthead_color}" v2="gold" op="="> text-wvu-blue</r:if>" href="/">
                <div class="wvu-logo-lockup mt-n1<r:if v1="{$masthead_color}" v2="gold" op="="> wvu-logo-lockup--blue</r:if>">
                  Masthead Title
                </div>
                <div class="wvu-co-branding d-inline-block align-self-center mx-2 p-2 border-left<r:if v1="{$masthead_color}" v2="gold" op="!="> border-white</r:if><r:if v1="{$masthead_color}" v2="gold" op="="> border-wvu-blue</r:if>">
                  <img src="https://designsystem.sandbox.wvu.edu/files/dc28ef1f-a7bc-4d8d-83c3-6915546a7347/960x268?cb=1548346922" alt="MSIR 60 Years logo" />
                </div>
              </a>
            </r:page:if_has_content_for>
          </r:page:if_has_content_for>
          <r:page:unless_has_content_for region="{$itemAlternateLogo}">
            <a class="d-flex position-relative my-3 align-items-center justify-content-center justify-content-lg-start text-decoration-none<r:if v1="{$masthead_color}" v2="gold" op="!="> text-white</r:if><r:if v1="{$masthead_color}" v2="gold" op="="> text-wvu-blue</r:if>" href="/">
              <div class="wvu-logo-lockup mt-n1<r:if v1="{$masthead_color}" v2="gold" op="="> wvu-logo-lockup--blue</r:if>">
                Masthead Title
              </div>
              <r:page:if_has_content_for region="{$itemHasCoBrand}">
                <div class="wvu-co-branding d-inline-block align-self-center mx-2 p-2 border-left<r:if v1="{$masthead_color}" v2="gold" op="!="> border-white</r:if><r:if v1="{$masthead_color}" v2="gold" op="="> border-wvu-blue</r:if>">
                  <r:page:content name="{$itemHasCoBrand}" />
                  <r:page:if_has_content_for region="{$itemCoBrandSubTitle}">
                    <span class="d-block helvetica-neue-light small"><r:page:content name="{$itemCoBrandSubTitle}" /></span>
                  </r:page:if_has_content_for>
                </div>
              </r:page:if_has_content_for>
            </a>
          </r:page:unless_has_content_for>
        </r:if>
        <r:comment><!-- Stop ignoring. --></r:comment>
        <r:if v1="{page:template:name}" v2="component-examples" op="!=">
          <r:comment><!-- If we have an alternate logo but no co-brand, just display the logo. If both, display lockup and alternate logo as the co-brand. --></r:comment>
          <r:if expr="{{ NOT(BLANK(has_alternate_logo)) }}">
            <r:if expr="{{ BLANK(has_co_brand) }}">
              <a class="d-block position-relative my-3 text-decoration-none" href="/">
                <div class="sr-only">Unit Name</div>
                <r:img src="https://<r:site:domain /><r:site:data name="has_alternate_logo" />" alt="<r:site:name />" />
              </a>
            </r:if>
            <r:if expr="{{ NOT(BLANK(has_co_brand)) }}">
              <a class="d-flex position-relative my-3 align-items-center justify-content-center justify-content-lg-start text-decoration-none<r:if v1="{$masthead_color}" v2="gold" op="!="> text-white</r:if><r:if v1="{$masthead_color}" v2="gold" op="="> text-wvu-blue</r:if>" href="/">
                <div class="wvu-logo-lockup mt-n1<r:if v1="{$masthead_color}" v2="gold" op="="> wvu-logo-lockup--blue</r:if>">
                  <r:if expr="{{ BLANK(masthead_title) }}"><r:site:name /></r:if>
                  <r:if expr="{{ NOT(BLANK(masthead_title)) }}"><r:site:data name="masthead_title" /></r:if>
                </div>
                <r:if v1="{$has_co_brand}" v2="true" op="=">
                <div class="wvu-co-branding d-inline-block align-self-center mx-2 p-2 border-left<r:if v1="{$masthead_color}" v2="gold" op="!="> border-white</r:if><r:if v1="{$masthead_color}" v2="gold" op="="> border-wvu-blue</r:if>">
                  <r:if expr="{{ NOT(BLANK(has_alternate_logo)) }}">
                    <r:img src="https://<r:site:domain /><r:site:data name="has_alternate_logo" />" alt="Logo: <r:site:name />" />
                  </r:if>
                  <r:if expr="{{ BLANK(has_alternate_logo) }}">
                    <r:site:data name="has_co_brand" />
                  </r:if>
                  <r:if expr="{{ NOT(BLANK(co_brand_subtitle)) }}">
                    <span class="d-block helvetica-neue-light small"><r:site:data name="co_brand_subtitle" /></span>
                  </r:if>
                </div>
                </r:if>
              </a>
            </r:if>
          </r:if>
          <r:if expr="{{ BLANK(has_alternate_logo) }}">
            <a class="d-flex position-relative my-3 align-items-center justify-content-center justify-content-lg-start text-decoration-none<r:if v1="{$masthead_color}" v2="gold" op="!="> text-white</r:if><r:if v1="{$masthead_color}" v2="gold" op="="> text-wvu-blue</r:if>" href="/">
              <div class="wvu-logo-lockup mt-n1<r:if v1="{$masthead_color}" v2="gold" op="="> wvu-logo-lockup--blue</r:if>">
                <r:if expr="{{ BLANK(masthead_title) }}"><r:site:name /></r:if>
                <r:if expr="{{ NOT(BLANK(masthead_title)) }}"><r:site:data name="masthead_title" /></r:if>
              </div>
              <r:if expr="{{ NOT(BLANK(has_co_brand)) }}">
              <div class="wvu-co-branding d-inline-block align-self-center mx-2 p-2 border-left<r:if v1="{$masthead_color}" v2="gold" op="!="> border-white</r:if><r:if v1="{$masthead_color}" v2="gold" op="="> border-wvu-blue</r:if>">
                <r:if expr="{{ NOT(BLANK(has_alternate_logo)) }}">
                  <r:img src="https://<r:site:domain /><r:site:data name="has_alternate_logo" />" alt="Logo: <r:site:name />" />
                </r:if>
                <r:if expr="{{ BLANK(has_alternate_logo) }}">
                  <r:site:data name="has_co_brand" />
                </r:if>
                <r:if expr="{{ NOT(BLANK(co_brand_subtitle)) }}">
                  <span class="d-block helvetica-neue-light small"><r:site:data name="co_brand_subtitle" /></span>
                </r:if>
              </div>
              </r:if>
            </a>
          </r:if>
        </r:if>
      </div>
      <div class="col-12 col-lg-4 justify-content-md-end d-flex mb-3 mb-lg-0">
        <div class="container">
          <r:if v1="{page:template:name}" v2="component-examples" op="=">
            <r:page:if_has_content_for region="{$itemMastheadCollegeLinkTitle}">
              <div class="row justify-content-center justify-content-lg-start mb-2">
                <span class="<r:if v1="{$masthead_color}" v2="gold" op="!=">bg-wvu-gold </r:if><r:if v1="{$masthead_color}" v2="gold" op="=">bg-wvu-blue</r:if>px-2 py-1 align-self-top small"><a href="#" class="text-decoration-none <r:if v1="{$masthead_color}" v2="gold" op="!=">text-wvu-blue </r:if><r:if v1="{$masthead_color}" v2="gold" op="=">text-white </r:if>">Parent Organization Name Goes Here</a></span>
              </div>
            </r:page:if_has_content_for>
            <div class="row align-content-center justify-content-center justify-content-lg-start<r:page:unless_has_content_for region="{$itemMastheadCollegeLinkTitle}"> h-100 justify-content-lg-end</r:page:unless_has_content_for>">
              <r:if v1="{$masthead_color}" v2="gold" op="!=">
                <a href="#" class="align-self-center btn mb-1 btn-outline-wvu-accent--light-blue mr-1">Apply Link 1</a>
                <a href="#" class="align-self-center btn mb-1 btn-outline-wvu-accent--orange mr-1">Apply Link 2</a>
                <a href="#" class="align-self-center btn mb-1 btn-outline-wvu-gold">Apply Link 3</a>
              </r:if>
              <r:if v1="{$masthead_color}" v2="gold" op="=">
                <a href="#" class="align-self-center btn mb-1 btn-wvu-blue mr-1">Apply Link 1</a>
                <a href="#" class="align-self-center btn mb-1 btn-wvu-accent--red mr-1">Apply Link 2</a>
                <a href="#" class="align-self-center btn mb-1 btn-wvu-accent--dark-green">Apply Link 3</a>
              </r:if>
            </div>
          </r:if>
          <r:if v1="{page:template:name}" v2="component-examples" op="!=">
            <r:if expr="{{ NOT(BLANK(masthead_college_link_title)) }}">
              <div class="row justify-content-center justify-content-lg-start mb-2">
                <span class="<r:if v1="{$masthead_color}" v2="gold" op="!=">bg-wvu-gold </r:if><r:if v1="{$masthead_color}" v2="gold" op="=">bg-wvu-blue</r:if>px-2 py-1 align-self-top small"><a href="<r:site:data name="masthead_college_link_address" />" class="text-decoration-none <r:if v1="{$masthead_color}" v2="gold" op="!=">text-wvu-blue </r:if><r:if v1="{$masthead_color}" v2="gold" op="=">text-white </r:if>"><r:site:data name="masthead_college_link_title" /></a></span>
              </div>
            </r:if>
            <div class="row align-content-center justify-content-center justify-content-lg-start<r:if expr="{{ BLANK(masthead_college_link_title) }}"> h-100 justify-content-lg-end</r:if>">
              <r:if v1="{$masthead_color}" v2="gold" op="!=">
                <r:if expr="{{ NOT(BLANK(apply_link_1)) }}">
                  <a href="<r:site:data name="apply_link_1_url" />" class="align-self-center btn mb-1 btn-outline-wvu-accent--light-blue mr-1"><r:site:data name="apply_link_1" /></a>
                </r:if>
                <r:if expr="{{ NOT(BLANK(apply_link_2)) }}">
                  <a href="<r:site:data name="apply_link_2_url" />" class="align-self-center btn mb-1 btn-outline-wvu-accent--orange mr-1"><r:site:data name="apply_link_2" /></a>
                </r:if>
                <r:if expr="{{ NOT(BLANK(apply_link_3)) }}">
                  <a href="<r:site:data name="apply_link_3_url" />" class="align-self-center btn mb-1 btn-outline-wvu-gold"><r:site:data name="apply_link_3" /></a>
                </r:if>
              </r:if>
              <r:if v1="{$masthead_color}" v2="gold" op="=">
                <r:if expr="{{ NOT(BLANK(apply_link_1)) }}">
                  <a href="<r:site:data name="apply_link_1_url" />" class="align-self-center btn mb-1 btn-wvu-blue mr-1"><r:site:data name="apply_link_1" /></a>
                </r:if>
                <r:if expr="{{ NOT(BLANK(apply_link_2)) }}">
                  <a href="<r:site:data name="apply_link_2_url" />" class="align-self-center btn mb-1 btn-wvu-accent--red mr-1"><r:site:data name="apply_link_2" /></a>
                </r:if>
                <r:if expr="{{ NOT(BLANK(apply_link_3)) }}">
                  <a href="<r:site:data name="apply_link_3_url" />" class="align-self-center btn mb-1 btn-wvu-accent--dark-green"><r:site:data name="apply_link_3" /></a>
                </r:if>
              </r:if>
            </div>
          </r:if>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End markup -->
