<r:comment><!-- Provide a base name for this component. We can use this later to dynamically create things like editable region names --></r:comment>
<r:set_var name="baseComponentName" value="action-hero-card" />

<r:comment><!-- Pull in component name, instance number, scope, etc. We will use these bits to dynamically define things like editable region names. --></r:comment>
<r:partial name="includes/wvu-component-variables" theme="University Relations: WVU Design System Components" />

<r:comment><!-- Define editable region names --></r:comment>
<r:set_var name="componentHeader">wvu-action-hero-card-<r:var name="componentInstance" />__header</r:set_var>
<r:set_var name="componentMain">wvu-action-hero-card-<r:var name="componentInstance" />__main</r:set_var>

<r:comment><!-- Suggestions for what utility classes to assign to this components’s container. These will also be applied by default if the content editor does not apply her own. --></r:comment>
<r:content_for name="{$defaultComponentClasses}">wvu-bg-blend-mode-lighten wvu-bg-pattern-grid bg-wvu-blue</r:content_for>

<r:comment><!-- Suggestions for what utility classes to assign to this component. These will also be applied by default if the content editor does not apply her own. --></r:comment>
<r:content_for name="{$defaultHeaderClasses}">display-3 wvu-shout text-wvu-blue mb-2</r:content_for>

<r:comment><!-- The editable region name that will be used to enter classes on this components <h1> element. --></r:comment>
<r:set_var name="headerClasses">
  wvu-<r:var name="componentName" />-header-classes
</r:set_var>

<r:comment><!-- Content that gets pulled into the editable regions by default. --></r:comment>
<r:content_for name="{$componentHeader}">Action Hero Card Headline</r:content_for>
<r:content_for name="{$componentMain}"><p class="lead mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <p class="mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
              veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat.
            </p>
            <p>
              <a href="#" class="btn btn-primary">Call to Action</a>
            </p></r:content_for>

<!-- Markup --><<r:partial name="utilities/wvu-is-main-checker" theme="University Relations: WVU Design System Components" /> aria-labelledby="<r:var name="componentName" />-label" class="position-relative p-3 wvu-background-size-cover <r:partial name="utilities/wvu-component-classes-checker" theme="University Relations: WVU Design System Components" />" <r:partial name="utilities/wvu-bg-styler" theme="University Relations: WVU Design System Components" />>
  <div class="container wvu-z-index-content">
    <div class="row justify-content-center pt-1">
      <div class="col-md-9">
        <div class="pt-1 bg-wvu-gold shadow">
          <div class="bg-white p-3 p-md-4">
            <r:edit_mode_only>
              <small class="wvu-z-index-content d-block mb-2 text-muted p-1 bg-wvu-neutral--dark-gray">Header classes:
                <pre class="mb-0 text-white"><r:editable_region name="{$headerClasses}" type="simple" /></pre>
                <strong class="text-muted">Default classes:</strong> <pre class="mb-0 text-muted"><r:yield name="{$defaultHeaderClasses}"><r:content /></r:yield></pre>
              </small>
            </r:edit_mode_only>
            <h2 id="<r:var name="componentName" />-label" class="<r:page:if_has_content_for region="{$itemHeaderClassesRegionName}"><r:page:content name="{$itemHeaderClassesRegionName}" /></r:page:if_has_content_for><r:page:unless_has_content_for region="{$itemHeaderClassesRegionName}"><r:yield name="{$defaultHeaderClasses}"><r:content /></r:yield></r:page:unless_has_content_for>">
              <r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="=">
                <r:page:unless_has_content_for region="{$itemHeaderRegionName}"><r:yield name="{$componentHeader}"><r:content /></r:yield></r:page:unless_has_content_for><r:page:content name="{$itemHeaderRegionName}" />
              </r:if>
              <r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="!=">
                <r:editable_region name="{$componentHeader}" scope="{$componentScope}" type="simple"><r:yield name="{$componentHeader}"><r:content /></r:yield></r:editable_region>
              </r:if>
            </h2>
            <r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="=">
              <r:yield name="{$componentMain}"><r:content /></r:yield>
            </r:if>
            <r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="!=">
              <r:editable_region name="{$componentMain}" scope="{$componentScope}"><r:yield name="{$componentMain}"><r:content /></r:yield></r:editable_region>
            </r:if>
          </div>
        </div>
      </div>
    </div>
  </div>
</<r:partial name="utilities/wvu-is-main-checker" theme="University Relations: WVU Design System Components" />><!-- End markup -->

<r:comment><!-- Pull in partial that allows user to edit classes for component in CleanSlate editor --></r:comment>
<r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="!=">
  <r:partial name="includes/wvu-component-footer" theme="University Relations: WVU Design System Components" />
</r:if>
