<r:comment><!-- For a detailed look at the concepts behind a shared partial, see https://designsystem.sandbox.wvu.edu/tutorials/the-anatomy-of-a-shared-partial. --></r:comment>

<r:comment><!-- Define a base name for this component. We can use this later to dynamically create editable region names --></r:comment>
<r:set_var name="baseComponentName" value="social-media" />

<r:comment><!-- Pull in component name, instance number, scope, limit, featurettes style, etc. that determine how the component will function. This also defines editable region names for component classes, featurettes classes, etc. --></r:comment>
<r:partial name="includes/wvu-component-variables" theme="University Relations: WVU Design System" />

<r:comment><!-- Define editable region names using our component name (base component name + instance number) within namespaced labels. --></r:comment>
<r:set_var name="componentHeader">wvu-<r:var name="componentName" />__header</r:set_var>
<r:set_var name="headerClasses">wvu-<r:var name="componentName" />-header-classes</r:set_var>
<r:set_var name="linkClasses">wvu-<r:var name="componentName" />-link-classes</r:set_var>

<r:comment><!-- Utility classes assigned to this components’s stylable elements by default if the content editor does not apply her own. --></r:comment>
<r:content_for name="{$defaultComponentClasses}">py-4 bg-wvu-neutral--black text-white</r:content_for>
<r:content_for name="{$defaultHeaderClasses}">wvu-shout display-3</r:content_for>

<r:comment><!-- Components do not display on live sites unless set to “Is active” in the slot’s custom data. But we need to make the component active no matter what in Edit Mode so the user can test it. You can see the “if” statement in the component’s outer HTML container that checks. --></r:comment>
<r:edit_mode_only>
  <r:set_var name="componentIsEditModeOnly" value="0" />
</r:edit_mode_only>

<r:comment><!-- Add an openin markup tag. This is used by the demo site to auto-generate code that the user can copy into their own theme. --></r:comment>
<r:comment><!-- This component’s outer container also contains utilities for evaluating whether the component should get a section or a main tag, what classes to apply to the outer container, and a background styler, defined by uploading an image and labeling it with the page slug and component name. --></r:comment>
<!-- Markup --><<r:partial name="utilities/wvu-is-main-checker" theme="University Relations: WVU Design System" /> <r:if_true value="{$componentIsMain}">id="wvu-main-content"</r:if_true> class="<r:if_true value="{$componentIsEditModeOnly}">d-none </r:if_true><r:partial name="utilities/wvu-component-classes-checker" theme="University Relations: WVU Design System" />" <r:partial name="utilities/wvu-bg-styler" theme="University Relations: WVU Design System" />>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <r:comment><!-- This is where you can add utility classes that will apply to the hero’s heading. --></r:comment>
        <r:edit_mode_only>
          <small class="wvu-z-index-content d-block mb-2 text-left text-muted p-1 bg-wvu-neutral--dark-gray">Header classes:
            <pre class="mb-0 text-white"><r:editable_region name="{$headerClasses}" type="simple" /></pre>
            <r:comment><!-- Show the default classes in case the user forgets, or needs to revert back to the original styling. --></r:comment>
            <strong class="text-muted">Default classes:</strong> <pre class="mb-0 text-muted"><r:yield name="{$defaultHeaderClasses}" /></pre>
          </small>
        </r:edit_mode_only>
        <r:comment><!-- This is just a label for the editable region that follows in order to make it clear to content editors what the region is for (in case they delete content and forget). --></r:comment>
        <r:edit_mode_only><span class="d-inline-block badge badge-primary mb-1">Header</span></r:edit_mode_only>
        <r:comment><!-- For the h2, apply an ID that will tell screanreaders to use this element as the label for the section. Also apply classes to the header. If supplied by user, use those. If not use default. --></r:comment>
        <h2 id="<r:var name="componentName" />-label" class="<r:page:if_has_content_for region="{$headerClasses}"><r:page:content name="{$headerClasses}" /></r:page:if_has_content_for><r:page:unless_has_content_for region="{$headerClasses}"><r:yield name="{$defaultHeaderClasses}"><r:content /></r:yield></r:page:unless_has_content_for>">Connect With Us</h2>
      </div>
      <div class="col-md-8 align-self-center">
        <ul class="list-inline h1 text-right align-middle">
          <r:comment><!-- This is where you can add utility classes that will apply to the social media links. --></r:comment>
          <r:edit_mode_only>
            <small class="wvu-z-index-content d-block mb-2 text-left text-muted p-1 bg-wvu-neutral--dark-gray">Link classes:
              <pre class="mb-0 text-white"><r:editable_region name="{$linkClasses}" type="simple" /></pre>
            </small>
          </r:edit_mode_only>
          <r:if_not_blank value="{$facebook_url}">
            <li class="list-inline-item">
              <a class="fab fa-facebook <r:page:content name="{$linkClasses}" />" href="<r:site:data name="facebook_url" />">
                <span class="sr-only">Facebook</span>
              </a>
            </li>
          </r:if_not_blank>
          <r:if_not_blank value="{$twitter_url}">
            <li class="list-inline-item">
              <a class="fab fa-twitter <r:page:content name="{$linkClasses}" />" href="<r:site:data name="twitter_url" />">
                <span class="sr-only">Twitter</span>
              </a>
            </li>
          </r:if_not_blank>
          <r:if_not_blank value="{$flickr_url}">
            <li class="list-inline-item">
              <a class="fab fa-flickr <r:page:content name="{$linkClasses}" />" href="<r:site:data name="flickr_url" />">
                <span class="sr-only">Flickr</span>
              </a>
            </li>
          </r:if_not_blank>
          <r:if_not_blank value="{$instagram_url}">
            <li class="list-inline-item">
              <a class="fab fa-instagram <r:page:content name="{$linkClasses}" />" href="<r:site:data name="instagram_url" />">
                <span class="sr-only">Instagram</span>
              </a>
            </li>
          </r:if_not_blank>
          <r:if_not_blank value="{$linkedin_url}">
            <li class="list-inline-item">
              <a class="fab fa-linkedin <r:page:content name="{$linkClasses}" />" href="<r:site:data name="linkedin_url" />">
                <span class="sr-only">LinkedIn</span>
              </a>
            </li>
          </r:if_not_blank>
          <r:if_not_blank value="{$syndication_url}">
            <li class="list-inline-item">
              <a class="fas fa-rss <r:page:content name="{$linkClasses}" />" href="<r:site:data name="syndication_url" />">
                <span class="sr-only">RSS</span>
              </a>
            </li>
          </r:if_not_blank>
          <r:if_not_blank value="{$youtube_url}">
            <li class="list-inline-item">
              <a class="fab fa-youtube <r:page:content name="{$linkClasses}" />" href="<r:site:data name="youtube_url" />">
                <span class="sr-only">YouTube</span>
              </a>
            </li>
          </r:if_not_blank>
          <r:if_not_blank value="{$github_url}">
            <li class="list-inline-item">
              <a class="fab fa-github <r:page:content name="{$linkClasses}" />" href="<r:site:data name="github_url" />">
                <span class="sr-only">Github</span>
              </a>
            </li>
          </r:if_not_blank>
        </ul>
      </div>
    </div>
  </div>
<r:comment><!-- A utility to decide whether to add a closing main or section tag. --></r:comment>
</<r:partial name="utilities/wvu-is-main-checker--end" theme="University Relations: WVU Design System" />><!-- End markup --><r:comment><!-- Closing main/section tag is the closing markup tag. --></r:comment>

<r:comment><!-- Pull in partial that contains the component styler. This lets the user add classes to the component using the CleanSlate editor. --></r:comment>
<r:partial name="includes/wvu-component-footer" theme="University Relations: WVU Design System" />
