<!-- Component: wvu-faculty-profile -->
{% define_component component %}
  {
    "baseName": "faculty-profile",
    "needsARIALabel": true,
    "defaultComponentClasses": "",
    "mainTagClasses": null
  }
{% enddefine_component %}

{% parse_json rNames %}
  {
    "main": "wvu-{{ component.name }}__main",
    "profileTitle": "wvu-{{ component.name }}__profile-title",
    "phone": "wvu-{{ component.name }}__phone",
    "email": "wvu-{{ component.name }}__email",
    "office": "wvu-{{ component.name }}__office",
    "officeURL": "wvu-{{ component.name }}__office-url",
    "website": "wvu-{{ component.name }}__website",
    "quote": "wvu-{{ component.name }}__quote",
    "headerLabel": "wvu-{{ component.name }}__header-label"
  }
{% endparse_json %}

{%- liquid
  assign figureEditableRegionName = component.baseName | prepend: 'wvu-' | append: '-' | append: component.number | append: '__figure'
  assign figcaptionEditableRegionName = component.baseName | prepend: 'wvu-' | append: '-' | append: component.number | append: '__figcaption'
  assign sidebarEditableRegionName = component.baseName | prepend: 'wvu-' | append: '-' | append: component.number | append: '__sidebar-top'
-%}

{% capture component_content %}
  <div class="container py-5">
    <div class="row">
      <div class="col-md-8">
        {%- if edit_mode or page.content[figureEditableRegionName] != blank %}
          {% comment %}<!-- This is just a label for the editable region that follows in order to make it clear to content editors what the region is for (in case they delete content and forget). -->{% endcomment %}
          {% if edit_mode %}<span class="d-inline-block badge badge-primary mb-1">Image</span>{% endif %}
          {% editable_region_block name: figureEditableRegionName scope: component.scope %}
            <img alt="Placeholder" src="https://via.placeholder.com/1200x800" />
          {% endeditable_region_block %}
          {%- if edit_mode or page.content[figcaptionEditableRegionName] != blank %}
            {% comment %}<!-- This is just a label for the editable region that follows in order to make it clear to content editors what the region is for (in case they delete content and forget). -->{% endcomment %}
            {% if edit_mode %}<span class="d-inline-block badge badge-primary mb-1">Caption</span>{% endif %}
            <figcaption class="small">
              {% editable_region_block name: figcaptionEditableRegionName scope: component.scope %}
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              {% endeditable_region_block %}
            </figcaption>
          {% endif %}
        {% endif %}
      </div>
      <div class="col-md-4">
        {% comment %}<!-- This is just a label for the editable region that follows in order to make it clear to content editors what the region is for (in case they delete content and forget). -->{% endcomment %}
        {% if edit_mode %}<span class="d-inline-block badge badge-primary mb-1">Header</span>{% endif %}
        {% editable_region_block name: sidebarEditableRegionName scope: component.scope %}
          <p class="helvetica-neue-light h5 mb-3">Who's responsible for the ask for this request? we need to button up our
            approach streamline. Run it up the flag pole I just wanted to give you
            a heads-up translating our vision of having a market leading platfrom yet
            we need to button up our approach dogpile that.
          </p>
        {% endeditable_region_block %}
        <p>
          {% render "includes/wvu-contact-info" component: component, regionNames: rNames %}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">

      </div>
      <div class="col-md-8 col-xl-6 mr-md-auto mt-4">
        {% comment %}<!-- This is just a label for the editable region that follows in order to make it clear to content editors what the region is for (in case they delete content and forget). -->{% endcomment %}
        {% if edit_mode %}<span class="d-inline-block badge badge-primary mb-1">Main</span>{% endif %}
        {% editable_region_block name: component.region_names.main scope: component.scope %}
          <p>Personal development push back. Value prop upsell we need to leverage our
            synergies. Gain traction good optics we need to socialize the comms with
            the wider stakeholder community wheelhouse. Sea change closing these latest
            prospects is like putting socks on an octopus knowledge process outsourcing.
            Guerrilla marketing what's the status on the deliverables for eow?</p>
          <p>Programmatically i’ve been doing some research this morning and we need to
            better granularity where do we stand on the latest client ask, for imagineer
            my capacity is full for we've got to manage that low hanging fruit. Please
            advise soonest not the long pole in my tent circle back. Not the long pole
            in my tent if you want to motivate these clowns, try less carrot and more
            stick we have put the apim bol, temporarily so that we can later put the
            monitors on moving the goalposts your work on this project has been really
            impactful please use "solutionise" instead of solution ideas! :). Upsell. </p>
          <p>Organic growth. Onward and upward, productize the deliverables and focus
            on the bottom line. Get buy-in future-proof product management breakout
            fastworks bells and whistles we just need to put these last issues to bed.
            Face time take five, punch the tree, and come back in here with a clear
            head. Quick win beef up. Low-hanging fruit work flows , nor window-licker,
            but high performance keywords and dog and pony show.
          </p>
        {% endeditable_region_block %}
      </div>
    </div>
  </div>
{% endcapture %}

{% render "utilities/wvu-component-tag" component: component, content: component_content %}

{% comment %}<!-- Pull in partial that contains the component styler. This lets the user add classes to the component using the CleanSlate editor. -->{% endcomment %}
{% render "includes/wvu-component-footer" component: component %}
