---
layout: default
---

<r:set_var name="breadcrumbs" value="{$breadcrumbs}" default="true">
  <r:page:data name="breadcrumbs" />
</r:set_var>

<r:set_var name="backpage_header" value="{$backpage_header}" default="true">
  <r:page:data name="backpage_header" />
</r:set_var>

<r:if v1="{$breadcrumbs}" v2="0" op="!=">
  <r:partial name="patterns/wvu-breadcrumbs" />
</r:if>

<r:if v1="{$backpage_header}" v2="1" op="!=">
  <r:partial name="patterns/wvu-backpage-header" />
</r:if>


<!-- Slots 01 - 10 -->

<r:partial name="patterns/wvu-slots" />
