---
layout: default
custom_data_attributes:
  - degree_type:
    type: select
    title: Degree type
    options:
      - [Bachelor’s, bachelors]
      - [Master’s, masters]
    include_blank: true
  - program_page_url:
    title: Program page URL
  - major_map_url:
    title: Major map URL
---

<!-- Slots 01 - 10 -->
<r:partial name="utilities/wvu-slots" theme="University Relations: WVU Design System" />

<!-- If page properties haven’t been saved yet, include the default component for this template. -->
<r:partial name="utilities/wvu-check-if-saved" theme="University Relations: WVU Design System" />
<r:if v1="{$isSaved}" v2="false" op="=">
  <r:set_var name="instanceNumber" value="1" />
  <r:partial name="components/wvu-backpage" theme="University Relations: WVU Design System" />
</r:if>
