---
layout: default
custom_data_attributes:
  - degree_type:
    type: select
    title: Degree type
    options:
      - [Bachelor’s, bachelors]
      - [Master’s, masters]
    include_blank: true
  - ifBackpageRemoveNav:
    type: checkbox
    title: If backpage, remove nav
  - ifBackpageRemoveSidebar:
    type: checkbox
    title: If backpage, remove sidebar
  - program_page_url:
    title: Program page URL
  - major_map_url:
    title: Major map URL
---

<r:set_var name="isMain" value="1" />
<r:partial name="components/v2/wvu-backpage" theme="University Relations: WVU Design System" />
