---
layout: default
custom_data_attributes:
  - degree_type:
    type: select
    title: Degree type
    options:
      - [Bachelor’s, bachelors]
      - [Master’s, masters]
    include_blank: true
  - ifBackpageRemoveNav:
    type: checkbox
    title: If backpage, remove nav
  - ifBackpageRemoveSidebar:
    type: checkbox
    title: If backpage, remove sidebar
  - program_page_url:
    title: Program page URL
  - major_map_url:
    title: Major map URL
---

{% render "components/v2/wvu-backpage" number: 1, main: true %}
