<!-- Slots for context: {{ forContext | default: 'default' }} -->
{% if slots == blank and forContext != blank %}
  {% assign slots = page.slots | where: 'where_to_display', forContext %}
{% endif %}

{% for slot in slots %}
  {% if slot.value != blank and slot.custom == blank %}
    {% case slot.value %}
      {% when 'action-hero' %}{% render "components/wvu-action-hero" slot: slot %}
      {% when 'action-hero-card' %}{% render "components/wvu-action-hero-card" slot: slot %}
      {% when 'action-hero-split' %}{% render "components/wvu-action-hero-split" slot: slot %}
      {% when 'action-hero-two-column' %}{% render "components/wvu-action-hero-two-column" slot: slot %}
      {% when 'agenda-item' %}{% render "components/wvu-agenda-item" slot: slot %}
      {% when 'backpage' %}{% render "components/v2/wvu-backpage" slot: slot %}
      {% when 'big-search' %}{% render "components/wvu-big-search" slot: slot %}
      {% when 'big-search-results' %}{% render "components/wvu-big-search-results" slot: slot %}
      {% when 'blog-index' %}{% render "components/wvu-blog-index" slot: slot %}
      {% when 'blog-article' %}{% render "components/wvu-blog-article" slot: slot %}
      {% when 'blog-archive' %}{% render "components/wvu-blog-archive" slot: slot %}
      {% when 'calendar' %}{% render "components/wvu-calendar" slot: slot %}
      {% when 'child-list' %}{% render "components/wvu-child-list" slot: slot %}
      {% when 'contact-info' %}{% render "components/wvu-contact-info" slot: slot %}
      {% when 'directory' %}{% render "components/wvu-directory" slot: slot %}
      {% when 'editable-region' %}{% render "components/wvu-editable-region" slot: slot %}
      {% when 'event-agenda' %}{% render "components/wvu-event-agenda" slot: slot %}
      {% when 'faculty-profile' %}{% render "components/wvu-faculty-profile" slot: slot %}
      {% when 'featurettes' %}{% render "components/wvu-featurettes" slot: slot %}
      {% when 'full-bleed-photo' %}{% render "components/wvu-full-bleed-photo" slot: slot %}
      {% when 'hero' %}{% render "components/wvu-hero" slot: slot %}
      {% when 'lede-text' %}{% render "components/wvu-lede-text" slot: slot %}
      {% when 'log-in' %}{% render "components/wvu-log-in" slot: slot %}
      {% when 'page-list' %}{% render "components/wvu-page-list" slot: slot %}
      {% when 'photo-gallery' %}{% render "components/wvu-photo-gallery" slot: slot %}
      {% when 'profile' %}{% render "components/wvu-profile" slot: slot %}
      {% when 'profile-hero' %}{% render "components/wvu-profile-hero" slot: slot %}
      {% when 'profile-teaser' %}{% render "components/wvu-profile-teaser" slot: slot %}
      {% when 'profiles' %}{% render "components/wvu-profiles" slot: slot %}
      {% when 'quicklinks' %}{% render "components/wvu-quicklinks" slot: slot %}
      {% when 'social-media' %}{% render "components/wvu-social-media" slot: slot %}
      {% when 'stat-sheet' %}{% render "components/wvu-stat-sheet" slot: slot %}
      {% when 'twitter-widget' %}{% render "components/wvu-twitter-widget" slot: slot %}
      {% when 'subnav' %}{% render "components/wvu-subnav" slot: slot %}
      {% when 'video-feature' %}{% render "components/wvu-video-feature" slot: slot %}
      {% else %}ERROR: Unsupported component '{{ slot.value }}'
    {% endcase %}
  {% elsif slot.custom != blank %}
    {% render "utilities/custom_components" slot: slot %}
  {% endif %}
{% endfor %}
