.wvu-slash {
  @include wvu-slash($wvu-gold, normal, left);
}

.wvu-slash--blue {
  &:before {
    background-color: $wvu-blue $global-important;
  }
}

.wvu-slash--white {
  &:before {
    background-color: $wvu-neutral--white $global-important;
  }
}

.wvu-slash--skinny {
  &:before {
    left: -.25em $global-important;
    width: $wvu-slash-width * .5 $global-important;
  }
}

.wvu-slash--center {
  display: inline-block $global-important;
  &:before {
    left: auto $global-important;
    right: calc(50% - .5em) $global-important;
  }
}

.wvu-slash--center-bottom {
  display: inline-block $global-important;
  &:before {
    bottom: 0 $global-important;
    left: auto $global-important;
    right: calc(50% - .5em) $global-important;
    top: auto $global-important;
  }
}

.wvu-slash--right {
  display: inline-block $global-important;
  &:before {
    left: auto $global-important;
    right: -1em $global-important;
  }
}

.wvu-slash--right-bottom {
  display: inline-block $global-important;
  &:before {
    bottom: 0 $global-important;
    left: auto $global-important;
    right: -1em $global-important;
    top: auto $global-important;
  }
}

$i: 1;

@while $i < 5 {
  .wvu-slash {
    &.wvu-slash--#{$i}-left {
      &:before {
        left: -($i * $spacer) $global-important;
      }
    }
    &.wvu-slash--#{$i}-right {
      &:before {
        left: ($i * $spacer) $global-important;
      }
    }
    &.wvu-slash--#{$i}-up {
      &:before {
        top: calc(-25% + -(#{$i} * #{$spacer})) $global-important;
      }
    }
    &.wvu-slash--#{$i}-down {
      &:before {
        top: calc(-25% + (#{$i} * #{$spacer})) $global-important;
      }
    }
    $i: $i + 1;
  }
}

.wvu-ul-slashes {
  @include wvu-slashes($wvu-gold);
}

.wvu-ul-slashes--gold {
  @include wvu-slashes($wvu-gold);
}

.wvu-ul-slashes--blue {
  @include wvu-slashes($wvu-blue);
}

.wvu-ul-slashes--white {
  @include wvu-slashes($wvu-neutral--white);
}

.wvu-slash-list {
  @include wvu-slash-list();
}
