.wvu-nav {
  position: relative;
  .active {
    background-color: transparent !important;
    &:before {
      border-top: 3px solid $wvu-gold;
      content: '';
      left: 0;
      position: absolute;
      width: 100%;
    }
  }
  > li {
    .active {
      background-color: transparent !important;
    }
  }
}
