.wvu-bg-none {
  background-image: none !important;
}

.wvu-bg-sm-none {
  @include media-breakpoint-down(sm) {
    background-image: none !important;
  }
}

.wvu-bg-size-contain {
  background-size: contain !important;
}

.wvu-bg-size-cover {
  background-size: cover !important;
}

.wvu-bg-shade {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.05+0,0.05+100 */
  background: -moz-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d000000', endColorstr='#0d000000',GradientType=0 ); /* IE6-9 */
}
