// Add some basic styles for line length and header padding so you don’t have to add utility classes to every header and paragraph
p, li, blockquote, h1, h2, h3, h4, h5, h6, a, .lead { max-width: $wvu-typography-line-length; }

.lead {
  font-family: $wvu-lead-font-family !important;
}

.wvu-backpage-main {
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
  }
  a + h2, button + h2, ol + h2, ul + h2, div + h2, p + h2, table + h2, blockquote + h2, fieldset + h2, h1 + h2 { margin-top: $spacer * 2; }
  a + h3, button + h3, ol + h3, ul + h3, div + h3, p + h3, table + h3, blockquote + h3, fieldset + h3, h2 + h3 { margin-top: $spacer * 2; }
  a + h4, button + h4, ol + h4, ul + h4, div + h4, p + h4, table + h4, blockquote + h4, fieldset + h3, h3 + h4 { margin-top: $spacer * 2; }
  a + h5, button + h5, ol + h5, ul + h5, div + h5, p + h5, table + h5, blockquote + h5, fieldset + h5, h4 + h5 { margin-top: $spacer * 2; }
  a + h6, button + h6, ol + h6, ul + h6, div + h6, p + h6, table + h6, blockquote + h6, fieldset + h6, h5 + h6 { margin-top: $spacer * 2; }
  a + .lead, button + .lead, ol + .lead, ul + .lead, div + .lead, p + .lead, table + .lead, blockquote + .lead, fieldset + .lead, h1 .lead, h2 .lead, h3 .lead, h4 .lead, h5 .lead, h6 .lead { margin-top: $spacer * 1.5;}
}

.wvu-text-first-line-gold {
  &:first-line {
    color: $wvu-gold !important;
  }
}

.wvu-quote {
  &:before {
    @include wvu-shout();
    color: $wvu-gold;
    content: '“';
    display: block;
    font-size: 3rem;
  }
}

@each $quote-color, $text-color in (accent-dark-blue, $wvu-accent--dark-blue),
                       (accent-blue, $wvu-accent--blue),
                       (accent-light-blue, $wvu-accent--light-blue),
                       (accent-green, $wvu-accent--green),
                       (accent-dark-green, $wvu-accent--dark-green),
                       (accent-green, $wvu-accent--green),
                       (accent-light-green, $wvu-accent--light-green) {
  .wvu-quote--#{$quote-color} {
    &:before {
      color: $text-color;
    }
  }
}

// NOTE: You must include the fonts.com script for the web fonts you see here.

.wvu-shout {
  @include wvu-shout();
}

.helvetica-neue {
  @include helvetica-neue();
}

.helvetica-neue-bold {
  @include helvetica-neue-bold();
}

.helvetica-neue-light {
  @include helvetica-neue-light();
}

.helvetica-neue-condensed-black {
  @include wvu-shout();
}

.iowan-old-style {
  @include iowan-old-style();
}

.iowan-old-style-italic {
  @include iowan-old-style-italic();
}

.iowan-old-style-black {
  @include iowan-old-style-black();
}

.iowan-old-style-black-italic {
  @include iowan-old-style-black-italic();
}

.display-1 {
  font-size: 3rem !important;
}

.display-2 {
  font-size: 3rem !important;
}

.display-3 {
  font-size: 3rem !important;
}
.display-4 {
  font-size: 3rem !important;
}

@include media-breakpoint-up(sm) {
  .display-1 {
    font-size: 4.5rem !important;
  }
  .display-2 {
    font-size: 3rem !important;
  }
  .display-3 {
    font-size: 3rem !important;
  }
  .display-4 {
    font-size: 3rem !important;
  }
}

@include media-breakpoint-up(md) {
  .display-1 {
    font-size: 5rem !important;
  }
  .display-2 {
    font-size: 3rem !important;
  }
  .display-3 {
    font-size: 3rem !important;
  }
  .display-4 {
    font-size: 3rem !important;
  }
}

@include media-breakpoint-up(lg) {
  .display-1 {
    font-size: $display1-size !important;
  }
  .display-2 {
    font-size: $display2-size !important;
  }
  .display-3 {
    font-size: $display3-size !important;
  }
  .display-4 {
    font-size: $display4-size !important;
  }
}
