.wvu-vignetting {
  @include wvu-vignetting($wvu-vignetting-opacity, left);
}

.wvu-vignetting-right {
  @include wvu-vignetting($wvu-vignetting-opacity, right);
}

$i: 90;
@while $i > 0 {
  &.wvu-vignetting--#{$i} {
    @include wvu-vignetting($wvu-vignetting-opacity, left);
    &:before {
      opacity: $i * .01 !important;
    }
  }
  $i: $i - 10;
}

$i: 90;
@while $i > 0 {
  &.wvu-vignetting-right--#{$i} {
    @include wvu-vignetting($wvu-vignetting-opacity, right);
    &:before {
      opacity: $i * .01 !important;
    }
  }
  $i: $i - 10;
}
