.wvu-nav {
  position: relative;
  .active {
    background-color: transparent $global-important;
  }
  > ul {
    > li {
      > .active {
        &:before {
          border-top: 3px solid $wvu-gold;
          content: '';
          left: 0;
          position: absolute;
          width: 100%;
        }
      }
    }
  }
}
