.wvu-bg-none {
  background-image: none $global-important;
}

.wvu-bg-sm-none {
  @media (max-width: $wvu-bp-sm) {
    background-image: none $global-important;
  }
}

.wvu-bg-size-contain {
  background-size: contain $global-important;
}

.wvu-bg-size-cover {
  background-size: cover $global-important;
}
