<!-- Processing Slots - {{ forContext }} -->
{% if slots == blank and forContext != blank %}
  {% assign slots = page.slots | where: 'where_to_display', forContext %}
{% endif %}

{% for slot in slots %}
  {% if slot.value != blank and slot.custom == blank %}
    {% case slot.value %}
      {% when 'action-hero' %}{% render "components/wvu-action-hero" slot: slot %}
      {% when 'action-hero-two-column' %}{% render "components/wvu-action-hero-two-column" slot: slot %}
      {% when 'backpage' %}{% render "components/wvu-backpage" slot: slot %}
      {% when 'blog-index' %}{% render "components/wvu-blog-index" slot: slot %}
      {% when 'blog-article' %}{% render "components/wvu-blog-article" slot: slot %}
      {% when 'blog-archive' %}{% render "components/wvu-blog-archive" slot: slot %}
      {% when 'editable-region' %}{% render "components/wvu-editable-region" slot: slot %}
      {% when 'featurettes' %}{% render "components/wvu-featurettes" slot: slot %}
      {% when 'full-bleed-photo' %}{% render "components/wvu-full-bleed-photo" slot: slot %}
      {% when 'hero' %}{% render "components/wvu-hero" slot: slot %}
      {% when 'photo-gallery' %}{% render "components/wvu-photo-gallery" slot: slot %}
      {% when 'profile' %}{% render "components/wvu-profile" slot: slot %}
      {% when 'profiles' %}{% render "components/wvu-profiles" slot: slot %}
      {% when 'profile-teaser' %}{% render "components/wvu-profile-teaser" slot: slot %}
      {% when 'social-media' %}{% render "components/wvu-social-media" slot: slot %}
      {% when 'subnav' %}{% render "components/wvu-subnav" slot: slot %}
      {% when 'video-feature' %}{% render "components/wvu-video-feature" slot: slot %}
      {% else %}ERROR: Unsupported component '{{ slot.value }}'
    {% endcase %}
  {% elsif slot.custom != blank %}
    {% comment %}TODO: Implement custom component partial support {% endcomment %}
    ERROR: Custom component partials are not yet supported
  {% endif %}
{% endfor %}
