<r:loop:each times="10">

  <r:set_var name="slotName">
    slot_<r:item />
  </r:set_var>

  <r:set_var name="slotScope">
    <r:var name="slotName" />_scope
  </r:set_var>
  <r:set_var name="slotShowHidden">
    <r:var name="slotName" />_show_hidden
  </r:set_var>
  <r:set_var name="slotInstance">
    <r:var name="slotName" />_number
  </r:set_var>
  <r:set_var name="slotIsMain">
    <r:var name="slotName" />_is_main
  </r:set_var>
  <r:set_var name="slotIsRandom">
    <r:var name="slotName" />_is_random
  </r:set_var>
  <r:set_var name="slotAlign">
    <r:var name="slotName" />_align
  </r:set_var>
  <r:set_var name="slotFeaturettesStyle">
    <r:var name="slotName" />_featurettes_style
  </r:set_var>
  <r:set_var name="slotHasSubnav">
    <r:var name="slotName" />_has_subnav
  </r:set_var>
  <r:set_var name="slotLimit">
    <r:var name="slotName" />_limit
  </r:set_var>
  <r:set_var name="slotLoopBy">
    <r:var name="slotName" />_loop_by
  </r:set_var>
  <r:set_var name="slotLoopLabelsMatch">
    <r:var name="slotName" />_loop_labels_match
  </r:set_var>
  <r:set_var name="slotLoopOrder">
    <r:var name="slotName" />_loop_order
  </r:set_var>
  <r:set_var name="slotCustom">
    <r:var name="slotName" />_custom
  </r:set_var>
  <r:set_var name="slotWhereToDisplay">
    <r:var name="slotName" />_where_to_display
  </r:set_var>

  <r:set_var name="slotNameValue">
    <r:page:data name="{$slotName}" />
  </r:set_var>

  <r:set_var name="slotCustomValue">
    <r:page:data name="{$slotCustom}" />
  </r:set_var>

  <r:set_var name="align"><r:page:data name="{$slotAlign}" /></r:set_var>
  <r:set_var name="featurettesStyle"><r:page:data name="{$slotFeaturettesStyle}" /></r:set_var>
  <r:set_var name="hasSubnav"><r:page:data name="{$slotHasSubnav}" /></r:set_var>
  <r:set_var name="limit"><r:page:data name="{$slotLimit}" /></r:set_var>
  <r:set_var name="loopBy"><r:page:data name="{$slotLoopBy}" /></r:set_var>
  <r:set_var name="loopLabelsMatch"><r:page:data name="{$slotLabelsMatch}" /></r:set_var>
  <r:set_var name="loopOrder"><r:page:data name="{$slotLoopOrder}" /></r:set_var>
  <r:set_var name="isMain"><r:page:data name="{$slotIsMain}" /></r:set_var>
  <r:set_var name="instanceNumber"><r:page:data name="{$slotInstance}" /></r:set_var>
  <r:set_var name="whereToDisplay"><r:page:data name="{$slotWhereToDisplay}" /></r:set_var>

  <!-- Show hidden parameter needs a value of “true” or “false”. Convert it here. -->
  <r:if v1="{$slotShowHidden}" v2="1" op="=">
    <r:set_var name="showHidden">true</r:set_var>
  </r:if>
  <r:if v1="{$slotShowHidden}" v2="1" op="!=">
    <r:set_var name="showHidden">false</r:set_var>
  </r:if>

  <!-- Show hidden parameter needs a value of “true” or “false”. Convert it here. -->
  <r:if v1="{$slotIsRandom}" v2="1" op="=">
    <r:set_var name="showHidden">true</r:set_var>
  </r:if>
  <r:if v1="{$slotIsRandom}" v2="1" op="!=">
    <r:set_var name="showHidden">false</r:set_var>
  </r:if>

  <!--  -->
  <r:if v1="{$slotScope}" v2="1" op="=">
    <r:set_var name="scope">site</r:set_var>
  </r:if>
  <r:if v1="{$slotScope}" v2="1" op="!=">
    <r:set_var name="scope">page</r:set_var>
  </r:if>

  <!-- Get display context. If none, set to as-full-width-block -->
  <r:set_var name="displayChecker" value="{$whereToDisplay}" default="as-full-width-block" />

  <!-- Get display context of slots component. If none, set to as-full-width-block -->
  <r:set_var name="slotsDisplayContext" value="{$componentDisplayContext}" default="as-full-width-block" />

  <!-- If displayChecker and componentDisplayContext match, display the component. displayChecker will be as-full-width by default. componentDisplayContext will be set whenever the slots component is called. -->
  <r:if v1="{$displayChecker}" v2="{$slotsDisplayContext}" op="=">
    <r:if expr="{{ NOT(BLANK(slotNameValue)) }}">

      <!-- Check to see if the user wants to use a custom pattern (not in Super Theme). If so, pull partial from local components folder instead. -->
      <r:if expr="{{ BLANK(slotCustomValue) }}">
        <r:set_var name="partialName">
          components/wvu-<r:page:data name="{$slotName}" />
        </r:set_var>
        <r:partial name="{$partialName}" theme="University Relations: WVU Design System Components" />
      </r:if>

    </r:if>

    <r:if expr="{{ NOT(BLANK(slotCustomValue)) }}">
      <r:set_var name="partialName">
        components/<r:page:data name="{$slotCustom}" />
      </r:set_var>
      <r:partial name="{$partialName}" />
    </r:if>
  </r:if>

</r:loop:each>

<!-- Reset component display context -->
<r:set_var name="componentDisplayContext" value="as-full-width-block" />
