<!-- Featurette: editable_regions -->
{%- liquid
  case component.limit
    when 1
      assign columnClasses = 'col'
    when 2 or 6 or 9
      assign columnClasses = 'col-sm-6 col-md-4'
    when 3 or 4
      assign columnClasses = 'col-sm-6 col-md'
    when 5
      assign columnClasses = 'col-sm-6 col-md-4 col-lg-3 col-xl'
    else
      assign columnClasses = 'col-sm-6 col-md-3'
  endcase

  if page.content[component.region_names.rowClasses] != blank
    assign rowClasses = page.content[component.region_names.rowClasses]
  else
    assign rowClasses = component.defaultRowClasses
  endif

  if page.content[component.region_names.itemClasses] != blank
    assign itemClasses = page.content[component.region_names.itemClasses]
  else
    assign defaultItemClasses = component.defaultItemClasses | append: ' ' | append: columnClasses
    assign itemClasses = page.content[component.region_names.itemClasses] | default: defaultItemClasses
  endif

-%}

<div class="row {{ rowClasses }}">
  {%- assign reverseOrder = component.limit %}
  {% for i in (1..component.limit) %}
    {%- capture bgLabel %}{{ component.featurettesBgPrefix }}-panel-{{ forloop.index }}-background{% endcapture %}
    {%- capture componentPanelPhoto %}wvu-featurettes_panel_{{ component.number }}-{{ i }}__photo{% endcapture %}
    {%- capture componentPanelHeader %}wvu-featurettes_panel_{{ component.number }}-{{ i }}__header{% endcapture %}
    {%- capture componentPanelMain %}wvu-featurettes_panel_{{ component.number }}-{{ i }}__main{% endcapture %}
    {%- capture videoUrlRegionName %}wvu-featurettes_panel_{{ component.number }}-{{ i }}__video-url{% endcapture %}

    {%- assign bgStyler = bgLabel | background_styler %}

    {%- assign reverseOrder = reverseOrder | minus: 1 %}

    <div class="{{ itemClasses }} order-{{ reverseOrder }}" {{ bgStyler }}>
      {%- if edit_mode or page.content[videoUrlRegionName] != blank %}
        {% if edit_mode %}
          <div class="alert alert-warning p-3">
            <h2 class="h5">Video</h2>
            <p><strong>Enter the URL of the video</strong> you wish to display e.g. <strong>https://www.youtube.com/watch?v=uF_Ti3i-sOo</strong>, then save and refresh the page.</p>
            {% editable_region name: videoUrlRegionName, type: 'simple', scope: component.scope %}
          </div>
        {% endif %}
        <div class="mb-1">
          {% assign videoId = page.content[videoUrlRegionName] | split: 'https://www.youtube.com/watch?v=' %}
          {% if page.content[videoUrlRegionName] != blank %}
            <div class="embed-responsive embed-responsive-16by9 mb-2">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ videoId }}" title="{{ page.content[videoTitleRegionName] }}" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          {% endif %}
        </div>
      {%- endif %}
      {%- if edit_mode or page.content[componentPanelHeader] != blank %}
        {% editable_region_block name: componentPanelHeader, scope: component.scope %}
          <h3 class="iowan-old-style-italic mb-1">Panel Header</h3>
        {% endeditable_region_block %}
      {%- endif %}
      {%- if edit_mode or page.content[componentPanelMain] != blank %}
        {% editable_region_block name: componentPanelMain scope: component.scope %}
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <a href="#" class="btn btn-sm btn-primary">Read More</a>
        {% endeditable_region_block %}
      {%- endif %}
    </div>
  {% endfor %}
</div>
